<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de Usuario!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
	<h:head>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
		
		<style type="text/css">
			@import "#{request.contextPath}/imagenes/css/estilo.css";
		</style>
	</h:head>
	<p:tabView dynamic="true" id="tab">
		<p:tab title="Consulta estudiante">
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
				
				<p:toolbar>
					<f:facet name="right">
						
						<p:commandButton value="Consultar" id="cbConsultar" action="#{usuarioConsultaBean.consultar()}" update="tab:idForm:idTablaUsuario" oncomplete="PF('usuario').show()" style="margin-top:5px">
						<p:tooltip id="toItCrear" for="cbConsultar"
							value="Botón utilizado para consultar la información del usuario en el formulario"
							showEffect="clip" hideEffect="explode" />
						</p:commandButton>
						<p:commandButton value="Limpiar" id="cbLimpiar"  action="#{usuarioConsultaBean.limpiar()}" update="idLimpiarCampos"/>
					</f:facet>
				</p:toolbar>
				
				<h3 style="color: darkBlue" align="center">
					Ingrese su número de identificación y clave para realizar la consulta de su usuario.
				</h3>
				
				<p:panelGrid columns="2" id="idLimpiarCampos">
				<p:panelGrid columns="2">
					
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{usuarioConsultaBean.usuario.inCodigo}"/>
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
															
					<h:outputLabel for="itNumeroIdentificacion" value="Número de Identificación del usuario: "/>
					<p:inputText id="itNumeroIdentificacion" autocomplete="off" value="#{usuarioConsultaBean.usuario.nvNumeroIdentificacion}"/>
					<p:tooltip for="itNumeroIdentificacion"
						value="Campo para ingresar el Número de Identificación de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItNumeroIdentificacion" for="itNumeroIdentificacion"/>
									
					<h:outputLabel for="itClave" value="Clave del usuario: "/>
					<p:password id="itClave" value="#{usuarioConsultaBean.usuario.nvClave}">
					</p:password>
					<p:tooltip for="itClave"
						value="Campo para ingresar la clave de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItClave" for="itClave"/>
					
					</p:panelGrid>
				</p:panelGrid>
		</h:form>	
			<p:dialog showEffect="fade" hideEffect="explode" widgetVar="usuario" closeOnEscape="true" modal="true" appendTo="@(body)"> <!-- width="1340" height="500" >		 -->
				<h:form id="idForm">
				<p:dataTable value="#{usuarioConsultaBean.listaUsuario}" var="usuario" editable="true" sortMode="multiple"
					id="idTablaUsuario" emptyMessage="No existen usuario inhabilitados para mostrar" rows="5" paginator="true"
                        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
                        rowsPerPageTemplate="5,10,15" >
                        
						<f:facet name="header">
				        Lista de usuarios
					 
					        <p:commandButton id="toggler" type="button" value="Columnas" style="float:right" icon="ui-icon-calculator" />
					        <p:columnToggler datasource="idTablaUsuario" trigger="toggler" />
					    </f:facet>
						
						<f:facet name="{Exporters}">
				            <h:commandLink>
				                <p:graphicImage value="/imagenes/excel.ico" width="24"/>
				                <p:dataExporter type="xls" target="idTablaUsuario" fileName="usuarios" pageOnly="true"/>
				            </h:commandLink>
				 
				            <h:commandLink>
				                <p:graphicImage value="/imagenes/pdf.png" width="24"/>
				                <p:dataExporter type="pdf" target="idTablaUsuario" fileName="usuarios" encoding="utf8"/>
				            </h:commandLink>
				        </f:facet>
				        
						<p:ajax event="rowEdit" listener="#{usuarioConsultaBean.onRowEdit}" onstart="return confirm('Está seguro que quiere editar este campo?')"/>
		     			<p:ajax event="rowEditCancel" listener="#{usuarioConsultaBean.onRowCancel}" onstart="return confirm('Está seguro que quiere inhabilitar este campo?')">
		     			</p:ajax>
		     		
			     		<p:confirmDialog widgetVar="myDialog" closeOnEscape="true" appendToBody="true" closable="true">
			                <h:form id="form-payment-confirm">
			                    <p:commandButton value="Si" type="button" update="@form" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
			                    <p:commandButton value="No" type="button" onclick="myDialog.hide()" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
			                </h:form>
			            </p:confirmDialog>
		     		
							<p:column headerText="Código" sortBy="#{usuario.inCodigo}" width="80" filterBy="">
								<p:cellEditor>
					               <f:facet name="output"><h:outputText value="#{usuario.inCodigo}" /></f:facet>
					               <f:facet name="input"><p:inputText value="#{usuario.inCodigo}" style="width:100%"/></f:facet>
					           </p:cellEditor>
							</p:column>
							
							<p:column headerText="Tipo Identificación">
								<p:cellEditor>
					               <f:facet name="output"><h:outputText value="#{usuario.segTipoIdentificacion.nvNombre}" /></f:facet>
					               <f:facet name="input">
										<p:selectOneMenu id="itCodigoTipoIdentificacion" value="#{usuarioConsultaBean.usuario.segTipoIdentificacion.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
											
											<f:selectItems value="#{tipoIdentificacionBean.listaTiposIdentificacion}" var="tipoId" itemLabel="#{tipoId.nvNombre}" itemValue="#{tipoId.inCodigo}" />
										</p:selectOneMenu>
					               </f:facet>
					           </p:cellEditor>
				           </p:column>
							
							<p:column headerText="Número Identificación" sortBy="#{usuario.nvNumeroIdentificacion}" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvNumeroIdentificacion}" /></f:facet>
							        <f:facet name="input"><p:inputText id="idNvNombreUsuario" value="#{usuario.nvNumeroIdentificacion}" style="width:100%"/></f:facet>
						        </p:cellEditor>
							</p:column>
							
							<p:column headerText="Primer Nombre" sortBy="#{usuario.nvPrimerNombre}" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvPrimerNombre}" /></f:facet>
							        <f:facet name="input"><p:inputText value="#{usuario.nvPrimerNombre}" style="width:100%"/></f:facet>
						        </p:cellEditor>
							</p:column>
							
							<p:column headerText="Segundo Nombre" sortBy="#{usuario.nvSegundoNombre}" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvSegundoNombre}" /></f:facet>
							        <f:facet name="input"><p:inputText value="#{usuario.nvSegundoNombre}" style="width:100%"/></f:facet>
						        </p:cellEditor>
							</p:column>
							
							<p:column headerText="Primer Apellido" sortBy="#{usuario.nvPrimerApellido}" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvPrimerApellido}" /></f:facet>
							        <f:facet name="input"><p:inputText value="#{usuario.nvPrimerApellido}" style="width:100%"/></f:facet>
						        </p:cellEditor>
							</p:column>
							
							<p:column headerText="Segundo Apellido" sortBy="#{usuario.nvSegundoApellido}" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvSegundoApellido}" /></f:facet>
							        <f:facet name="input"><p:inputText value="#{usuario.nvSegundoApellido}" style="width:100%"/></f:facet>
						        </p:cellEditor>
							</p:column>
							
							<p:column headerText="Nombre Usuario" sortBy="#{usuario.nvNombreUsuario}" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvNombreUsuario}" /></f:facet>
							        <f:facet name="input"><p:inputText value="#{usuario.nvNombreUsuario}" style="width:100%"/></f:facet>
						        </p:cellEditor>
							</p:column>
							
							<p:column headerText="Correo" sortBy="#{usuario.nvCorreoElectronico}" width="200" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvCorreoElectronico}" /></f:facet>
							        <f:facet name="input"><p:inputText value="#{usuario.nvCorreoElectronico}" style="width:100%"/></f:facet>
						        </p:cellEditor>
							</p:column>
							
							<!-- Filtrar Fecha
							<f:facet name="filter">
							    <p:calendar  pattern="dd/MM/yyyy">
							        <p:ajax event="dateSelect"  oncomplete="PF('').filter()"/>
							    </p:calendar>
							</f:facet>		-->			
							
							<p:column style="width:32px" styleClass="ui-editable-column-options" exportable="false" width="10">
					           <p:rowEditor id="editar"/>
					           <p:tooltip id="toItEditar" for="editar"
									value="Click para editar o inhabilitar"
									showEffect="clip" hideEffect="explode" />
									<span class="ui-icon ui-icon-remove"></span>
					    	</p:column>
			    	
		    	</p:dataTable>
		    	</h:form>
			</p:dialog>
		</p:tab>
		<p:tab title="Nota Estudiante">
			<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
				
				<p:toolbar>
					<f:facet name="right">
						
						<p:commandButton value="Consultar" id="cbConsultar" action="#{notaXEstudianteGrupoConsultaBean.consultar()}" update="tab:idForm2:idTablaNotaXEstudianteGrupo" oncomplete="PF('notaXEstudianteGrupo').show()" style="margin-top:5px">
						<p:tooltip id="toItCrear" for="cbConsultar"
							value="Botón utilizado para consultar la información del usuario en el formulario"
							showEffect="clip" hideEffect="explode" />
						</p:commandButton>
						<p:commandButton value="Limpiar" id="cbLimpiar"  action="#{notaXEstudianteGrupoConsultaBean.limpiar()}" update="idLimpiarCampos2"/>
					</f:facet>
				</p:toolbar>
				
				<h3 style="color: darkBlue" align="center">
					Seleccione un usuario para la consulta de sus notas.
				</h3>
				
				<p:panelGrid columns="2" id="idLimpiarCampos2">
					<p:panelGrid columns="2">
					
						<h:outputLabel for="itCodigo" value=""/>
						<p:inputText id="itCodigo" type="hidden" value="#{notaXEstudianteGrupoConsultaBean.notaXEstudianteGrupo.inCodigo}"/>
						<p:tooltip for="toItCodigo"
							value="Campo para ingresar el código de usuario"
							hideEffect="explode" showEffect="clip"/>
						<p:message id="toItCodigo" for="itCodigo"/>
																

						<p:outputLabel for="itCodigoEstudianteGrupo" value="Estudiante grupo: " />
						<p:selectOneMenu id="itCodigoEstudianteGrupo" value="#{notaXEstudianteGrupoConsultaBean.notaXEstudianteGrupo.tblEstudianteXGrupo.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
							<f:selectItem itemLabel="Seleccionar un estudiante grupo" itemValue="0" noSelectionOption="false"/>
							<f:selectItems value="#{estudianteXGrupoBean.listaEstudianteXGrupo}" var="estudianteXGrupo" itemLabel="#{estudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerNombre} #{estudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerApellido}" itemValue="#{estudianteXGrupo.inCodigo}" />
						</p:selectOneMenu>										
					</p:panelGrid>
				</p:panelGrid>
		</h:form>
		<p:dialog showEffect="fade" hideEffect="fade" widgetVar="notaXEstudianteGrupo" closeOnEscape="true" modal="true" appendTo="@(body)">		
			<h:form id="idForm2">
				<p:dataTable value="#{notaXEstudianteGrupoConsultaBean.listaNotaXEstudianteGrupo}" var="notaXEstudianteGrupo" editable="true" sortBy="#{notaXEstudianteGrupo.tblEstudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvNumeroIdentificacion}"
						id="idTablaNotaXEstudianteGrupo" emptyMessage="No existen notas de estudiante por grupo para mostrar" rows="10" paginator="true"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
                         rowsPerPageTemplate="10,15,20,25,30,35,40" >
				
				<f:facet name="header">
			        Lista de notas de estudiante por Grupo
			 
			        <p:commandButton id="toggler" type="button" value="Columnas" style="float:right" icon="ui-icon-calculator" />
			        <p:columnToggler datasource="idTablaNotaXEstudianteGrupo" trigger="toggler" />
			    </f:facet>
				
				<f:facet name="{Exporters}">
		            <h:commandLink>
		                <p:graphicImage value="/imagenes/excel.ico" width="24"/>
		                <p:dataExporter type="xls" target="idTablaNotaXEstudianteGrupo" fileName="notaXEstudianteGrupos" pageOnly="true"/>
		            </h:commandLink>
		 
		            <h:commandLink>
		                <p:graphicImage value="/imagenes/pdf.png" width="24"/>
		                <p:dataExporter type="pdf" target="idTablaNotaXEstudianteGrupo" fileName="notaXEstudianteGrupos" encoding="utf8"/>
		            </h:commandLink>
		        </f:facet>
		        
				<!-- <p:ajax event="rowEdit" listener="#{notaXEstudianteGrupoConsultaBean.onRowEdit}"/>
     			<p:ajax event="rowEditCancel" listener="#{notaXEstudianteGrupoConsultaBean.onRowCancel}"/>
  -->
					<p:column headerText="Código" sortBy="#{notaXEstudianteGrupo.inCodigo}" id="codigo" width="80" filterBy="">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{notaXEstudianteGrupo.inCodigo}" /></f:facet>
			               <f:facet name="input"><p:inputText value="#{notaXEstudianteGrupo.inCodigo}" style="width:100%"/></f:facet>
			           </p:cellEditor>
					</p:column>
					
					<p:column headerText="ID" sortBy="#{notaXEstudianteGrupo.tblEstudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvNumeroIdentificacion}" visible="false" exportable="false">
						#{notaXEstudianteGrupoConsultaBean.contarNotas(notaXEstudianteGrupoConsultaBean.contarNota)}
						#{notaXEstudianteGrupoConsultaBean.acumuladorPorcentajes(notaXEstudianteGrupo.tblNotaXGrupo.inPorcentaje)}
						#{notaXEstudianteGrupoConsultaBean.acumuladorNotasFinales(notaXEstudianteGrupo.nuNota * (notaXEstudianteGrupo.tblNotaXGrupo.inPorcentaje/100))}
						<h:outputText value="#{notaXEstudianteGrupo.tblEstudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvNumeroIdentificacion}" />
					</p:column>
					
					<p:column headerText="ID" sortBy="#{notaXEstudianteGrupo.tblEstudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvNumeroIdentificacion}" exportable="true">
						<h:outputText value="#{notaXEstudianteGrupo.tblEstudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvNumeroIdentificacion}" />
					</p:column>
					
					<p:column headerText="Materia">
						<h:outputText value="#{notaXEstudianteGrupo.tblEstudianteXGrupo.tblGrupo.tblMateriaXPensum.tblMateria.nvNombre}" />
					</p:column>	
					
					<p:column headerText="Tipo nota">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{notaXEstudianteGrupo.tblNotaXGrupo.nvDescripcion}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itCodigoTipoNota" value="#{notaXEstudianteGrupo.tblNotaXGrupo.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									
									<f:selectItems value="#{notaXGrupoBean.listaNotaXGrupo}" var="notaXGrupo" itemLabel="#{notaXGrupo.nvDescripcion}" itemValue="#{notaXGrupo.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
					
					<p:column headerText="Estudiante">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{notaXEstudianteGrupo.tblEstudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerNombre} #{notaXEstudianteGrupo.tblEstudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerApellido}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itCodigoEstudiante" value="#{notaXEstudianteGrupo.tblEstudianteXGrupo.tblEstudianteXInstitucion.segUsuario.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									<f:selectItems value="#{estudianteXGrupoBean.listaEstudianteXGrupo}" var="estudianteXGrupo" itemLabel="#{estudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerNombre} #{estudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerApellido}" itemValue="#{estudianteXGrupo.tblEstudianteXInstitucion.segUsuario.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
					
					<p:column headerText="Número Sesión">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{notaXEstudianteGrupo.tblSesion.inSesion}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itSesion" value="#{notaXEstudianteGrupo.tblSesion.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									<f:selectItems value="#{sesionBean.listaSesion}" var="sesion" itemLabel="#{sesion.inSesion}" itemValue="#{sesion.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
		           
					<p:column headerText="Nota" sortBy="#{notaXEstudianteGrupo.nuNota}" id="nota" filterBy="">
						<p:cellEditor>
					        <f:facet name="output"><h:outputText value="#{notaXEstudianteGrupo.nuNota}" /></f:facet>
					        <f:facet name="input"><p:spinner value="#{notaXEstudianteGrupo.nuNota}" stepFactor="0.1" style="width:100%"/></f:facet>
				        </p:cellEditor>
					</p:column>
					
					<p:column headerText="Porcentaje" sortBy="#{notaXEstudianteGrupo.tblNotaXGrupo.inPorcentaje}" id="porcentaje" filterBy="">
						<p:cellEditor>
					        <f:facet name="output"><h:outputText value="#{notaXEstudianteGrupo.tblNotaXGrupo.inPorcentaje}" /></f:facet>
					        <f:facet name="input"><p:spinner value="#{notaXEstudianteGrupo.tblNotaXGrupo.inPorcentaje}" stepFactor="0.1" style="width:100%"/></f:facet>
				        </p:cellEditor>
					</p:column>
					
					<p:column headerText="Fecha registro" sortBy="#{notaXEstudianteGrupo.daFechaRegistro}" filterBy="">
					        <h:outputText value="#{notaXEstudianteGrupo.daFechaRegistro}" />
					</p:column>

					<p:column  headerText="NotaPorcentual" sortBy="" filterBy="">
					        <h:outputText  value="#{notaXEstudianteGrupo.nuNota * notaXEstudianteGrupo.tblNotaXGrupo.inPorcentaje/100}">
								<f:convertNumber pattern="#0.00" locale="pt_BR"/>
							</h:outputText>
					</p:column>
					
					<p:column style="width:32px" exportable="false" width="10">
			           <p:rowEditor />
			       </p:column>
					
					<p:summaryRow>
						
						<p:column>
			            	<h:outputText value="#{notaXEstudianteGrupoConsultaBean.acumuladorPorcentaje}">
			            		<f:convertNumber  pattern="#0.00" locale="pt_BR"/>
			            	</h:outputText>
						</p:column>
						
			            <p:column colspan="8" style="text-align:right">
			                <h:outputText value="Total:" />
			            </p:column>
			            
			            <p:column exportable="true">
			            	<h:outputText value="#{notaXEstudianteGrupoConsultaBean.acumuladorNotaFinal/notaXEstudianteGrupoConsultaBean.contarNota}">
			            		<f:convertNumber pattern="#0.00" locale="pt_BR"/>
			            	</h:outputText>
			        	</p:column>
						
						<!--<p:column>
			                <h:outputText rendered="true" value="#{(notaXEstudianteGrupo.nuNota * notaXEstudianteGrupo.tblNotaXGrupo.inPorcentaje/100)}">
			                    <f:convertNumber type="number" />
			                    
			                </h:outputText>
			            </p:column> -->
			        
			        </p:summaryRow>
			        
				</p:dataTable>
			</h:form>
		</p:dialog>
		</p:tab>
	</p:tabView>
	</ui:define>
</ui:composition>

</html>
