<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de tipos de Identificación!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
							
			<p:fieldset legend="Formulario datos reporte" toggleable="true" toggleSpeed="500">
							
				<p:dataTable value="#{reporteBean.listaReporte}" var="reporte" 
				id="idTablaReporte" emptyMessage="No existe un reporte para mostrar">
				
					<p:column headerText="Descripción mejor estudiante">
						<h:outputText value="#{reporte.nvDescripcion}" />
					</p:column>
					
				</p:dataTable>
			</p:fieldset>
				
		</h:form>
	</ui:define>
</ui:composition>

</html>
