<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jstl/core"> 

<h:head>
	<title><ui:insert name="title"/></title>
	<style>
         .ui-layout-north {                    
                overflow:hidden !important;
            }

            .ui-layout-north .ui-layout-unit-content {
                overflow:hidden !important;
            }  
            .ui-layout-south {                    
                overflow:hidden !important;
            }

            .ui-layout-south .ui-layout-unit-content {
                overflow:hidden !important;
            }   
        }
    </style>
    <style type="text/css">
		@import "#{request.contextPath}/imagenes/css/estilo.css";
	</style>
    	<link rel="icon" href="#{request.contextPath}/imagenes/favicon.ico" />
</h:head> 
<body>
	<div id="pagina">
	
		<p:layout fullPage="true">
			<p:layoutUnit position="north" size="120">
				<div id="encabezado">
					<ui:include src="/paginas/menu/menu.xhtml" />
				</div>
				
			</p:layoutUnit>
		
			<p:layoutUnit position="west" resizable="true" closable="true" collapsible="true">
			<h:form>
			<div class="ui-fluid" >	
				<!-- <p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Show column" update="accPanel">
						  <f:setPropertyActionListener value="true" target="#{usuarioBean.renderIframeColumn}"/>
						</p:commandButton>
						<p:commandButton value="Hide column" update="idForm:idTablaUsuario">
						  <f:setPropertyActionListener value="false" target="#{usuarioBean.renderIframeColumn}"/>
						</p:commandButton>
					</f:facet>
				</p:toolbar> -->
				<p:accordionPanel>
			        
           <!--  <c:forEach items="#{perfilBean.listaPerfil}" var="perfil">
	         	<p:tab  title="#{perfil.nvNombre}" >
	                <c:forEach items="#{recursoPerfilBean.listaRecursoPerfil}" var="recurso"  varStatus="" >
	                    <h:panelGrid>
	                        <h:outputLink value="#{recurso.segRecurso.nvUrl}" >
	                        	#{recurso.segRecurso.nvNombre}
	                        </h:outputLink>
	                    </h:panelGrid>
	            	</c:forEach>
				</p:tab>  
			</c:forEach> --> 
			
			<!--  items="#{perfilBean.listaPerfil}" var="perfil"> -->
	         	<p:tab  title="Administrador" >
	                <c:forEach items="#{recursoPerfilBean.listaRecursoPerfil}" var="recurso"  varStatus="" >
	                		<h:panelGrid>
	                        	<h:outputLink value="#{recurso.segRecurso.nvUrl}" >
	                        		#{recurso.segRecurso.nvNombre}
	                        	</h:outputLink>
	                    	</h:panelGrid>
	            	</c:forEach>
				</p:tab>  

					<!-- <p:tab title="Seguridad">
			            <h:panelGrid columns="2" cellspacing="2">
			                <h:outputLink style='text-decoration: none;background-color:lightblue' value="http://localhost:8080/GestorGruposAsys/faces/paginas/protegido/inicio.xhtml">
			                	Inicio
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/paginas/protegido/seguridad/aplicacion.xhtml">
			                	Aplicación
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/paginas/protegido/seguridad/perfil.xhtml">
			                	Perfil
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/paginas/protegido/seguridad/pregunta.xhtml">
			                	Pregunta
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/paginas/protegido/seguridad/recurso.xhtml">
			                	Recursos
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/paginas/protegido/seguridad/recursoPerfil.xhtml">
			                	Recursos por perfil
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/paginas/protegido/seguridad/tipoRecurso.xhtml">
			                	Tipos de recursos
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/paginas/protegido/seguridad/tipoIdentificacion.xhtml">
			                	Tipos de idenficación
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/paginas/protegido/seguridad/usuario.xhtml">
			                	Usuarios
			                </h:outputLink>
			            </h:panelGrid>
			        </p:tab>
			        <p:tab title="Proyecto">
			            <h:panelGrid columns="2">
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/paginas/protegido/proyecto/asistencia.xhtml">
			                	Asistencia
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/paginas/protegido/proyecto/asistenciaEstudiante.xhtml">
			                	Asistencia estudiante
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/paginas/protegido/proyecto/estudianteGrupo.xhtml">
			                	Estudiante por grupo
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/paginas/protegido/proyecto/estudianteXInstitucion.xhtml">
			                	Estudiante por institución
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/paginas/protegido/proyecto/materia.xhtml">
			                	Materia
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/paginas/protegido/proyecto/materiaPensum.xhtml">
			                	Materia pensum
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/paginas/protegido/proyecto/semestre.xhtml">
			                	Semestre
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/paginas/protegido/proyecto/pensum.xhtml">
			                	Pensum
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/paginas/protegido/proyecto/programa.xhtml">
			                	Programa
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/proyecto/protegido/tipoPrograma.xhtml">
			                	Tipos de Programa
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/proyecto/protegido/tipoNota.xhtml">
			                	Tipo nota 
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/proyecto/protegido/profesorXInstitucion.xhtml">
			                	Profesor por institución
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/proyecto/protegido/notaEstudiante.xhtml">
			                	Nota por estudiante grupo
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/proyecto/protegido/notaGrupo.xhtml">
			                	Nota por grupo
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/proyecto/protegido/periodoAcademico.xhtml">
			                	Periodo académico
			                </h:outputLink>
			                <br/>
			                <p:separator />
			                <br/>
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/proyecto/protegido/sesion.xhtml">
			                	Sesión
			                </h:outputLink>
			            </h:panelGrid>
			        </p:tab>
			        <p:tab title="Consultar">
			            <h:panelGrid columns="2">
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080/GestorGruposAsys/faces/proyecto/protegido/consultar/consultarModificarEstudiante.xhtml">
			                	Consultas de estudiantes
			                </h:outputLink>
			                <br/>
			                
			            </h:panelGrid>
			        </p:tab>
			        
			        <p:tab title="Módulos inactivos">
			            <h:panelGrid columns="2" cellpadding="10">
			                <h:outputLink style='text-decoration: none;' value="http://localhost:8080//GestorGruposAsys/faces/paginas/protegido/seguridad/consultaUsuarioInactivo.xhtml">
			                	Usuarios inactivos
			                </h:outputLink>
			            </h:panelGrid>
			        </p:tab> -->
			    </p:accordionPanel>
				
			</div>	
		</h:form>
			</p:layoutUnit>
			
			<p:layoutUnit position="center">
				<div id="cuerpo">
					<ui:insert name="cuerpo">
					
						<h:outputText value="Cuerpo de la página dinámico" />
					</ui:insert>
				</div>
			</p:layoutUnit>
			
			<p:layoutUnit position="south">		
				<div id="piePagina">
					<ui:include src="/paginas/piePagina/piePagina.xhtml" />
				</div>
			</p:layoutUnit>
		</p:layout>	
		
	
	</div>

</body> 
</html>
