<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
<ui:define name="tituloPagina">
	<h:outputText value="!!!!Gestión de asistencia!!!!" />
</ui:define>
<ui:define name="cuerpo">
<h:form>
<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
<p:fieldset legend="Formulario datos asistencia" toggleable="true" toggleSpeed="500">
	<p:toolbar>
		<f:facet name="right">
			<p:commandButton value="Limpiar" id="cbLimpiar" action="#{asistenciaBean.limpiar()}" update="idLimpiar"/>
			<p:commandButton value="Crear" id="cbCrear" action="#{asistenciaBean.crear()}" update="idTablaAsistencia"/>
			<p:commandButton value="Actualizar" id="cbActualizar" action="#{asistenciaBean.actualizar()}" update="idTablaAsistencia"/>
			<p:commandButton value="Inhabilitar" id="cbInhabilitar" action="#{asistenciaBean.inhabilitar()}" update="idTablaAsistencia"/>
			<p:commandButton value="Consultar" id="cbConsultar" action="#{asistenciaBean.consultar()}" update="idTablaAsistencia"/>
		</f:facet>
	</p:toolbar>
	
	<p:panelGrid columns="2" id="idLimpiar">
	
		<h:outputLabel for="itCodigo" value=""/>
		<p:inputText id="itCodigo" type="hidden" value="#{asistenciaBean.asistencia.inCodigo}"/>
		<p:tooltip for="toItCodigo"
		value="Campo para ingresar el código de tipo de asistencia"
		hideEffect="explode" showEffect="clip"/>
		<p:message id="toItCodigo" for="itCodigo"/>
		
		
		
		<p:outputLabel for="itCodigoMateria" value="Materia: " />
		<p:selectOneMenu id="itCodigoMateria" value="#{asistenciaBean.materiaSelCode}" filter="true" filterMatchMode="startsWith">
			<p:ajax listener="#{asistenciaBean.onMateriaChange}" update="itListGrupos" />
			<f:selectItem itemLabel="Seleccionar una materia" itemValue="0" noSelectionOption="false"/>
			<f:selectItems value="#{materiaXPensumBean.listaMateriaXPensum2}" var="materia" itemLabel="#{materia.tblMateria.nvNombre}" itemValue="#{materia.inCodigo}" />
		</p:selectOneMenu>
		
		<p:outputLabel for="itListGrupos" value="Dia: " />
		<p:selectOneMenu id="itListGrupos" value="#{asistenciaBean.grupoSelCode}" filter="true" filterMatchMode="startsWith">
			<p:ajax listener="#{asistenciaBean.onGrupoChange}" update="itCodigoSesion" />
			<p:ajax listener="#{asistenciaBean.onGrupoChange2}" update="itCodigoEstudiante" />
			<f:selectItem itemLabel="Seleccionar un dia" itemValue="0" noSelectionOption="false"/>
			<f:selectItems value="#{asistenciaBean.listaGrupos}" var="grupo" itemLabel="#{grupo.nvDia} #{grupo.tiHoraInicio}" itemValue="#{grupo.inCodigo}" />
		</p:selectOneMenu>
	
		
		<p:outputLabel for="itCodigoSesion" value="Sesión: " />
		<p:selectOneMenu id="itCodigoSesion" value="#{asistenciaBean.asistencia.tblSesion.inCodigo}" filter="true" filterMatchMode="startsWith">
			<f:selectItem itemLabel="Seleccionar una sesión" itemValue="0" noSelectionOption="false"/>
			<f:selectItems value="#{asistenciaBean.listaSesiones}" var="sesion" itemLabel="Sesión #{sesion.inSesion} - #{sesion.tblGrupo.tblMateriaXPensum.tblMateria.nvNombre} - #{sesion.tblGrupo.nvDia} - #{sesion.tblGrupo.tiHoraInicio}" itemValue="#{sesion.inCodigo}" />
		</p:selectOneMenu>
		
		<p:outputLabel for="itCodigoEstudiante" value="Estudiante: " />
		<p:selectOneMenu id="itCodigoEstudiante" value="#{asistenciaBean.asistencia.tblEstudianteXGrupo.inCodigo}" filter="true" filterMatchMode="startsWith">
			<f:selectItem itemLabel="Seleccionar un estudiante" itemValue="0" noSelectionOption="false"/>
			<f:selectItems value="#{asistenciaBean.listaEstudiantes}" var="estudiante" itemLabel="#{estudiante.tblEstudianteXInstitucion.segUsuario.nvPrimerNombre} #{estudiante.tblEstudianteXInstitucion.segUsuario.nvPrimerApellido}" itemValue="#{estudiante.inCodigo}" />
		</p:selectOneMenu>
	</p:panelGrid>
</p:fieldset>
<p:fieldset legend="Formulario datos asistencia" toggleable="true" toggleSpeed="500">
	
	<p:dataTable value="#{asistenciaBean.listaAsistencia}" var="asistencia" 
	id="idTablaAsistencia" emptyMessage="No existen tipos de periodo Académico para mostrar">
		
		<p:column headerText="Código">
			<h:outputText value="#{asistencia.inCodigo}" />
		</p:column>
		<p:column headerText="Profesor">
			<h:outputText value="#{asistencia.tblEstudianteXGrupo.tblGrupo.tblProfesorXInstitucion.segUsuario.nvPrimerNombre} #{asistencia.tblEstudianteXGrupo.tblGrupo.tblProfesorXInstitucion.segUsuario.nvPrimerApellido}" />
		</p:column>
		<p:column headerText="Sesión">
			<h:outputText value="#{asistencia.tblSesion.inCodigo}" />
		</p:column>
		<p:column headerText="Materia">
			<h:outputText value="#{asistencia.tblSesion.tblGrupo.tblMateriaXPensum.tblMateria.nvNombre}" />
		</p:column>
		<p:column headerText="Día">
			<h:outputText value="#{asistencia.tblSesion.tblGrupo.nvDia}" />
		</p:column>
		<p:column headerText="Horario">
			<h:outputText value="#{asistencia.tblSesion.tblGrupo.tiHoraInicio} hasta las #{asistencia.tblSesion.tblGrupo.tiHoraFin}" />
		</p:column>
		
		<!-- <p:column headerText="Fecha ingreso sesión">
			<h:outputText value="#{asistencia.tblSesion.tblGrupo.dtFechaSesion}" />
		</p:column>
		<p:column headerText="Fecha Límite Ingreso Sesión">
			<h:outputText value="#{asistencia.tblSesion.dtFechaLimite}" />
		</p:column> -->
	
	</p:dataTable>
</p:fieldset>
</h:form>
</ui:define>
</ui:composition>

</html>