<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de tipos de Identificación!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
			<h:form id="form">
				<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
				<p:fieldset legend="Formulario datos estudianteXInstitucion" toggleable="true" toggleSpeed="500">
					
					<p:toolbar>
						<f:facet name="right">
							<p:commandButton value="Limpiar" id="cbLimpiar" action="#{estudianteXInstitucionBean.limpiar()}" update="idLimpiar"/>
							<p:commandButton value="Crear" id="cbCrear" action="#{estudianteXInstitucionBean.crear()}" update="idFormEstudianteXInstitucion:idTablaEstudianteXInstitucion"/>
							<p:commandButton value="Actualizar" id="cbActualizar" action="#{estudianteXInstitucionBean.actualizar()}" update="idFormEstudianteXInstitucion:idTablaEstudianteXInstitucion"/>
							<p:commandButton value="Consultar" id="cbConsultar" action="#{estudianteXInstitucionBean.consultar()}" update="idFormEstudianteXInstitucion:idTablaEstudianteXInstitucion" oncomplete="PF('estudianteXInstitucion').show()"/>
						</f:facet>
					</p:toolbar>
					<p:panelGrid columns="2" id="idLimpiar">
						
						<h:outputLabel for="itCodigo" value=""/>
						<p:inputText id="itCodigo" type="hidden" value="#{estudianteXInstitucionBean.estudianteXInstitucion.inCodigo}" />
							
						<p:outputLabel for="itCodigoInstitucion" value="Institución" />
						<p:selectOneMenu id="itCodigoInstitucion" value="#{estudianteXInstitucionBean.estudianteXInstitucion.tblInstitucion.inCodigo}" filter="true" filterMatchMode="startsWith">
							<f:selectItem itemLabel="Seleccionar una institución" itemValue="0" noSelectionOption="false"/>
							<f:selectItems value="#{institucionBean.listaInstitucion}" var="institucion" itemLabel="#{institucion.nvNombre}" itemValue="#{institucion.inCodigo}" />
						</p:selectOneMenu>
						
						<p:outputLabel for="itCodigoEstudiante" value="Estudiante" />
						<p:selectOneMenu id="itCodigoEstudiante" value="#{estudianteXInstitucionBean.estudianteXInstitucion.segUsuario.inCodigo}" filter="true" filterMatchMode="startsWith">
							<f:selectItem itemLabel="Seleccionar un Estudiante" itemValue="0" noSelectionOption="false"/>
							<f:selectItems value="#{usuarioBean.listaUsuarioPerfilProfesor}" var="estudiante" itemLabel="#{estudiante.nvPrimerNombre} #{estudiante.nvPrimerApellido}" itemValue="#{estudiante.inCodigo}" />
						</p:selectOneMenu>
						
					</p:panelGrid>
				</p:fieldset>
			</h:form>
			
			<p:dialog showEffect="fade" hideEffect="explode" widgetVar="estudianteXInstitucion" closeOnEscape="true" modal="true" appendTo="@(body)" >
				<h:form id="idFormEstudianteXInstitucion">				
				<p:fieldset legend="Formulario datos estudiante" toggleable="true" toggleSpeed="500">
					<p:dataTable value="#{estudianteXInstitucionBean.listaEstudianteXInstitucion}" editable="true" var="estudianteXInstitucion" 
					id="idTablaEstudianteXInstitucion" emptyMessage="No existen estudiantes por institución para mostrar" >
					
					<p:ajax event="rowEdit" listener="#{estudianteXInstitucionBean.actualizarFila}" />
					
						<p:column headerText="Código">
							<h:outputText value="#{estudianteXInstitucion.inCodigo}" />
						</p:column>
						
						<p:column headerText="Institución">
							<p:cellEditor>
				               <f:facet name="output"><h:outputText value="#{estudianteXInstitucion.tblInstitucion.nvNombre}" /></f:facet>
				               <f:facet name="input">
									<p:selectOneMenu value="#{estudianteXInstitucion.tblInstitucion.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
										
										<f:selectItems value="#{institucionBean.listaInstitucion}" var="institucion" itemLabel="#{institucion.nvNombre}" itemValue="#{institucion.inCodigo}" />
									</p:selectOneMenu>
				               </f:facet>
				           </p:cellEditor>
			           </p:column>
			           
						<p:column headerText="Estudiante">
							<h:outputText value="#{estudianteXInstitucion.segUsuario.nvPrimerNombre} #{estudianteXInstitucion.segUsuario.nvPrimerApellido}" />
						</p:column>
						
						<p:column style="width:32px" styleClass="ui-editable-column-options" exportable="false" width="10">
				           <p:rowEditor id="editar"/>
				           
				    	</p:column>
	
					</p:dataTable>
				</p:fieldset>
				</h:form>
			</p:dialog>
	</ui:define>
</ui:composition>

</html>
