<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de Usuario!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
	<h:head>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
	</h:head>
		<h:form id="form">
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar"  action="#{estudianteXGrupoBean.limpiar()}" update="idLimpiarCampos"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{estudianteXGrupoBean.crear()}" update="idTablaEstudianteXGrupo" style="margin-top:5px">
						<p:tooltip id="toItCrear" for="cbCrear" rendered=""
							value="Botón utilizado para registrar la nueva información ingresada al formulario"
							showEffect="clip" hideEffect="explode" />
						</p:commandButton>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{estudianteXGrupoBean.actualizar()}" update="idTablaEstudianteXGrupo" oncomplete="PF('estudianteXGrupo').show()" style="margin-top:5px" />
 						<p:commandButton value="Consultar" id="cbConsultar" action="#{estudianteXGrupoBean.consultar()}" update="idTablaEstudianteXGrupo" oncomplete="PF('estudianteXGrupo').show()" style="margin-top:5px"/>
					
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiarCampos">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{estudianteXGrupoBean.estudianteXGrupo.inCodigo}"/>
					
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
					<p:outputLabel for="itCodigoEstudiante" value="Estudiante: " />
					<p:selectOneMenu id="itCodigoEstudiante" value="#{estudianteXGrupoBean.estudianteXGrupo.tblEstudianteXInstitucion.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar un estudiante para grupo" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{estudianteXInstitucionBean.listaEstudianteXInstitucion}" var="estudiante" itemLabel="#{estudiante.segUsuario.nvPrimerNombre} #{estudiante.segUsuario.nvPrimerApellido}" itemValue="#{estudiante.inCodigo}" />
					</p:selectOneMenu>
					
					<p:outputLabel for="itCodigoGrupo" value="Grupo: " />
					<p:selectOneMenu id="itCodigoGrupo" value="#{estudianteXGrupoBean.estudianteXGrupo.tblGrupo.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 450px" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar una nota grupo" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{grupoBean.listaGrupo}" var="grupo" itemLabel="#{grupo.tblMateriaXPensum.tblMateria.nvNombre} - #{grupo.tiHoraInicio} - #{grupo.nvDia}" itemValue="#{grupo.inCodigo}"/>
					</p:selectOneMenu>
					
				</p:panelGrid>
		
     <p:dialog showEffect="fade" hideEffect="fade" widgetVar="estudianteXGrupo" closeOnEscape="true" modal="true" appendTo="@(body)">		
				
				<p:dataTable value="#{estudianteXGrupoBean.listaEstudianteXGrupo}" var="estudianteXGrupo" editable="true" sortMode="multiple" 
						id="idTablaEstudianteXGrupo" emptyMessage="No existen notas de estudiante por grupo para mostrar" rows="5" paginator="true"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
                         rowsPerPageTemplate="5,10,15" >
				
				<f:facet name="header">
			        Lista de notas de estudiante por Grupo
			 
			        <p:commandButton id="toggler" type="button" value="Columnas" style="float:right" icon="ui-icon-calculator" />
			        <p:columnToggler datasource="idTablaEstudianteXGrupo" trigger="toggler" />
			    </f:facet>
				
				<f:facet name="{Exporters}">
		            <h:commandLink>
		                <p:graphicImage value="/imagenes/excel.ico" width="24"/>
		                <p:dataExporter type="xls" target="idTablaEstudianteXGrupo" fileName="notaXGrupos" pageOnly="true"/>
		            </h:commandLink>
		 
		            <h:commandLink>
		                <p:graphicImage value="/imagenes/pdf.png" width="24"/>
		                <p:dataExporter type="pdf" target="idTablaEstudianteXGrupo" fileName="notaXGrupos" encoding="utf8"/>
		            </h:commandLink>
		        </f:facet>
		        
				<!-- <p:ajax event="rowEdit" listener="#{notaXGrupoBean.onRowEdit}"/>
     			<p:ajax event="rowEditCancel" listener="#{notaXGrupoBean.onRowCancel}"/>
  -->
					<p:column headerText="Código" sortBy="#{estudianteXGrupo.inCodigo}" width="80" filterBy="">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{estudianteXGrupo.inCodigo}" /></f:facet>
			               <f:facet name="input"><p:inputText value="#{estudianteXGrupo.inCodigo}" style="width:100%"/></f:facet>
			           </p:cellEditor>
					</p:column>
					
					<p:column headerText="Estudiante" sortBy="" filterBy="">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{estudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerNombre} #{estudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerApellido}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itCodigoTipoNota" value="#{estudianteXGrupo.tblEstudianteXInstitucion.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 400px" filter="true" filterMatchMode="startsWith">
									
									<f:selectItems value="#{estudianteXInstitucionBean.listaEstudianteXInstitucion}" var="estudiante" itemLabel="#{estudiante.segUsuario.nvPrimerNombre} #{estudiante.segUsuario.nvPrimerApellido}" itemValue="#{estudiante.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
					
					<p:column headerText="Grupo">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{estudianteXGrupo.tblGrupo.tblMateriaXPensum.tblMateria.nvNombre} - #{estudianteXGrupo.tblGrupo.tiHoraInicio} - #{estudianteXGrupo.tblGrupo.nvDia}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itCodigoGrupo" value="#{estudianteXGrupo.tblGrupo.tblMateriaXPensum.tblMateria.inCodigo}" disabled="false" style= "width: 320px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									
									<f:selectItems value="#{grupoBean.listaGrupo}" var="materia" itemLabel="#{materia.tblMateriaXPensum.tblMateria.nvNombre} - #{materia.tiHoraInicio} - #{materia.nvDia}" itemValue="#{materia.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
					
					<p:column>
						<h:outputText value="#{estudianteXGrupo.tblGrupo.tblMateriaXPensum.tblMateriaXPensum.tblMateria.nvNombre}"/>
					</p:column>
					
					<!-- Filtrar Fecha
					<f:facet name="filter">
					    <p:calendar  pattern="dd/MM/yyyy">
					        <p:ajax event="dateSelect"  oncomplete="PF('').filter()"/>
					    </p:calendar>
					</f:facet>		-->			
					
					<p:column style="width:32px" exportable="false" width="10">
			           <p:rowEditor />
			       </p:column>
					
				</p:dataTable>
				
		</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>

</html>
