<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de género!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
			<p:fieldset legend="Formulario datos institución" toggleable="true" toggleSpeed="500">
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar" action="#{generoBean.limpiar()}" update="idLimpiar"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{generoBean.crear()}" update="idTablaGenero"/>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{generoBean.actualizar()}" update="idTablaGenero"/>
						<p:commandButton value="Consultar" id="cbConsultar" action="#{generoBean.consultar()}" update="idTablaGenero"/>
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiar">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{generoBean.genero.inCodigo}"/>
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de género"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
					<h:outputLabel for="itNombre" value="#{mensajes.LABEL_NOMBRE_GENERO} "/>
					<p:inputText id="itNombre" value="#{generoBean.genero.nvNombre}" validatorMessage="Campo nombre inválido no debe contener caracteres especiales" ><f:validateRegex pattern="^([A-Za-z0-9 \s]{1,50}$)+" /></p:inputText>
					<p:tooltip for="toItNombre"
						value="Campo para ingresar el nombre de género"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItNombre" for="itNombre"/>
					
				</p:panelGrid>
			</p:fieldset>
			
			<p:fieldset legend="Formulario datos institución" toggleable="true" toggleSpeed="500">
							
				<p:dataTable value="#{generoBean.listaGenero}" var="genero" 
				id="idTablaGenero" emptyMessage="No existe género para mostrar">
				
					<p:column headerText="Código">
						<h:outputText value="#{genero.inCodigo}" />
					</p:column>
					
					<p:column headerText="Nombre">
						<h:outputText value="#{genero.nvNombre}" />
					</p:column>
					
					
				</p:dataTable>
			</p:fieldset>
				
		</h:form>

	</ui:define>
</ui:composition>

</html>
