<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de grupo!!!!" />
	</ui:define>
	
	<ui:define name="cuerpo">
	<h:head>
		<script>
        PrimeFaces.locales['es'] = {
                timeOnlyTitle: 'Sólo hora',
                timeText: 'Tiempo',
                hourText: 'Hora',
                minuteText: 'Minuto',
        };
        
        </script>
	</h:head>
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
			<p:fieldset legend="Formulario datos grupo" toggleable="true" toggleSpeed="500">
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar" action="#{grupoBean.limpiar()}" update="idLimpiar"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{grupoBean.crear()}" update="idForm:idTablaGrupo"/>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{grupoBean.actualizar()}" update="idForm:idTablaGrupo"/>
						<p:commandButton value="Inhabilitar" id="cbInhabilitar" action="#{grupoBean.inhabilitar()}" update="idForm:idTablaGrupo"/>
						<p:commandButton value="Consultar" id="cbConsultar" action="#{grupoBean.consultar()}" update="idForm:idTablaGrupo" oncomplete="PF('grupo').show()"/>
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiar">
				<p:panelGrid columns="2">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo"  type="hidden" value="#{grupoBean.grupo.inCodigo}"/>
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de tipo de grupo"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
					<p:outputLabel for="itCodigoMateriaXPensum" value="Materia" />
					<p:selectOneMenu id="itCodigoMateriaXPensum" value="#{grupoBean.grupo.tblMateriaXPensum.inCodigo}" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar una materia" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{materiaXPensumBean.listaMateriaXPensum}"  var="materia" itemLabel="#{materia.tblMateria.nvNombre}" itemValue="#{materia.inCodigo}" />
					</p:selectOneMenu>
					
					<p:outputLabel for="itCodigoPeriodoAcademico" value="Periodo académico" />
					<p:selectOneMenu id="itCodigoPeriodoAcademico" value="#{grupoBean.grupo.tblPeriodoAcademico.inCodigo}" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar un periodo académico" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{periodoAcademicoBean.listaPeriodoAcademico2}" var="periodoAcademico" itemLabel="#{periodoAcademico.tblTipoPeriodoAcademico.nvNombre}" itemValue="#{periodoAcademico.inCodigo}" />
					</p:selectOneMenu>
					
					<p:outputLabel for="itHoraInicio" value="Hora Inicio:" />
        			<p:calendar id="itHoraInicio" value="#{grupoBean.grupo.tiHoraInicio}" locale="es" pattern="hh:mm a" timeOnly="true"  mask="00:00 aa"/>
							
					<p:outputLabel for="itHoraFin" value="Hora Fin:" />
        			<p:calendar id="itHoraFin" value="#{grupoBean.grupo.tiHoraFin}" locale="es" pattern="hh:mm a" timeOnly="true"  mask="00:00 aa"/>
				</p:panelGrid>
				<p:panelGrid columns="2">
					<p:outputLabel for="itCantidadMinima" value="Cantidad Mínima:" />
					<p:spinner id="itCantidadMinima" min="5" value="#{grupoBean.grupo.inCantidadMinima}"></p:spinner>
					
					<p:outputLabel for="itCantidadMaxima" value="Cantidad Máxima:" />
					<p:spinner  id="itCantidadMaxima" min="10" max="30" value="#{grupoBean.grupo.inCantidadMaxima}"></p:spinner>
					
			        <p:outputLabel for="itDia" value="Día:" />
					<p:selectOneMenu id="itDia" value="#{grupoBean.grupo.nvDia}">
						<f:selectItem itemLabel="Seleccionar un día" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{grupoBean.dias}"/>
					</p:selectOneMenu>
			        
			        <p:outputLabel for="itCodigoProfesorXInstitucion" value="Profesor" />
			        <p:selectOneMenu id="itCodigoProfesorXInstitucion" value="#{grupoBean.grupo.tblProfesorXInstitucion.inCodigo}" 
			        filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar un profesor" itemValue="0" noSelectionOption="true"/>
						<f:selectItems value="#{profesorXInstitucionBean.listaProfesorXInstitucion}" var="profesor" 
						itemLabel="#{profesor.segUsuario.nvPrimerNombre} #{profesor.segUsuario.nvPrimerApellido}" 
						itemValue="#{profesor.inCodigo}" />
					</p:selectOneMenu>
					</p:panelGrid>
				</p:panelGrid>
			</p:fieldset>
		</h:form>
		<p:dialog showEffect="fade" hideEffect="fade" widgetVar="grupo" closeOnEscape="true" modal="true" appendTo="@(body)">				
			<h:form id="idForm">
				<p:fieldset legend="Formulario datos grupo" toggleable="true" toggleSpeed="500">
					
					<p:dataTable value="#{grupoBean.listaGrupo}" var="grupo" 
					id="idTablaGrupo" emptyMessage="No existen tipos de grupo para mostrar">
					
						<p:column headerText="Código">
							<h:outputText value="#{grupo.inCodigo}" />
						</p:column>
					
						<p:column headerText="Materia">
							<h:outputText value="#{grupo.tblMateriaXPensum.tblMateria.nvNombre}" />
						</p:column>
						
						<p:column headerText="Periodo académico">
							<h:outputText value="#{grupo.tblPeriodoAcademico.tblTipoPeriodoAcademico.nvNombre}" />
						</p:column>
						
						<p:column headerText="Hora inicio">
							<h:outputText value="#{grupo.tiHoraInicio}" />
						</p:column>
						
						<p:column headerText="Hora fin">
							<h:outputText value="#{grupo.tiHoraFin}" />
						</p:column>
													
						<p:column headerText="Cantidad Mínima Estudiantes">
							<h:outputText value="#{grupo.inCantidadMinima}" />
						</p:column>
							
						<p:column headerText="Cantidad Máxima Estudiantes">
							<h:outputText value="#{grupo.inCantidadMaxima}" />
						</p:column>
							
						<p:column headerText="Día">
							<h:outputText value="#{grupo.nvDia}"/>
						</p:column>
							
						<p:column headerText="Profesor">
							<h:outputText value="#{grupo.tblProfesorXInstitucion.segUsuario.nvPrimerNombre} #{grupo.tblProfesorXInstitucion.segUsuario.nvPrimerApellido}" />
						</p:column>
											
					</p:dataTable>
				</p:fieldset>
			</h:form>
		</p:dialog>	
	</ui:define>
</ui:composition>

</html>
