<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de tipos de Identificación!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
		
		
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
			<p:fieldset legend="Formulario datos materia por pensum" toggleable="true" toggleSpeed="500">
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar" action="#{materiaXPensumBean.limpiar()}" update="idLimpiar"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{materiaXPensumBean.crear()}" update="idTablaMateriaXPensum, itCodigoMateriaXPensumPrerequisito"/>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{materiaXPensumBean.actualizar()}" update="idTablaMateriaXPensum"/>
						<p:commandButton value="Inhabilitar" id="cbInhabilitar" action="#{materiaXPensumBean.inhabilitar()}" update="idTablaMateriaXPensum"/>
						<p:commandButton value="Consultar" id="cbConsultar" action="#{materiaXPensumBean.consultar()}" update="idTablaMateriaXPensum"/>
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiar">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="" value="#{materiaXPensumBean.materiaXPensum.inCodigo}"/>
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de la materia"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
					<p:outputLabel for="itCodigoPensumXSemestre" value="Pensum por Semestre: " />
					<p:selectOneMenu id="itCodigoPensumXSemestre" value="#{materiaXPensumBean.materiaXPensum.tblPensumXSemestre.inCodigo}" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar un estudiante" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{pensumXSemestreBean.listaPensumXSemestre}" var="pensumXSemestre" itemLabel="#{pensumXSemestre.tblPensum.nvNombre} #{pensumXSemestre.tblSemestre.nvNombre}"  itemValue="#{pensumXSemestre.tblPensum.inCodigo}" />
					</p:selectOneMenu>
					
					<p:outputLabel for="itCodigoMateria" value="Materia por Semestre: " />
					<p:selectOneMenu id="itCodigoMateria" value="#{materiaXPensumBean.materiaXPensum.tblMateria.inCodigo}" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar una materia" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{materiaBean.listaMateria}" var="materia" itemLabel="#{materia.nvNombre}"  itemValue="#{materia.inCodigo}" />
					</p:selectOneMenu>
				
					<h:outputLabel for="itCreditos" value="Créditos"/>
					<p:spinner id="itCreditos" value="#{materiaXPensumBean.materiaXPensum.inNumeroCreditos}"  min="1" max="6"/>
					<p:tooltip for="toItCreditos"
						value="Campo para ingresar el número de créditos de la materia"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCreditos" for="itCreditos"/>
					
					<p:outputLabel for="itCodigoMateriaXPensumPrerequisito" value="Prerequisito materia: " />
					<p:selectOneMenu id="itCodigoMateriaXPensumPrerequisito" value="#{materiaXPensumBean.materiaXPensum.tblMateriaXPensum.inCodigo}" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar un Prerequisito de materia" itemValue="0" noSelectionOption="true"/>
						<f:selectItems value="#{materiaXPensumBean.listaMateriaXPensum}" var="materiaXPensum" itemLabel="#{materiaXPensum.tblMateria.nvNombre}" itemValue="#{materiaXPensum.inCodigo}"/>
					</p:selectOneMenu>
				</p:panelGrid>
			</p:fieldset>
			</h:form>
			<p:fieldset legend="Formulario datos materia Pensum" toggleable="true" toggleSpeed="500">
							
				<p:dataTable value="#{materiaXPensumBean.listaMateriaXPensum2}"  var="materiaXPensum" editable="true" sortMode="multiple"
				id="idTablaMateriaXPensum" emptyMessage="No existen materias de Pensum para mostrar">
				
					<p:column headerText="Código" width="32">
						<h:outputText value="#{materiaXPensum.inCodigo}" />
					</p:column>
					
					<p:column headerText="Pensum por Semestre">
						<h:outputText value="#{materiaXPensum.tblPensumXSemestre.tblPensum.nvNombre} #{materiaXPensum.tblPensumXSemestre.tblSemestre.nvNombre}" />
					</p:column>
					
					<p:column headerText="Materia">
						<h:outputText value="#{materiaXPensum.tblMateria.nvNombre}" />
					</p:column>
					
					<p:column headerText="Créditos" width="40">
						<h:outputText value="#{materiaXPensum.inNumeroCreditos}"/>
					</p:column>
					
					<p:column headerText="Materia prerequisito">
						<h:outputText value="#{materiaXPensum.tblMateriaXPensum.tblMateria.nvNombre}" />
					</p:column>
				</p:dataTable>
			</p:fieldset>
				
	</ui:define>
</ui:composition>

</html>
