<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de materias!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
		
		
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
			<p:fieldset legend="Formulario datos materia" toggleable="true" toggleSpeed="500">
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar" action="#{materiaBean.limpiar()}" update="idLimpiar"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{materiaBean.crear()}" update="form:idTablaMateria"/>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{materiaBean.actualizar()}" update="form:idTablaMateria"/>
						<p:commandButton value="Consultar" id="cbConsultar" action="#{materiaBean.consultar()}" update="form:idTablaMateria" oncomplete="PF('materia').show()"/>
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiar">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{materiaBean.materia.inCodigo}"/>
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de la materia"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
					<h:outputLabel for="itNombre" value="#{mensajes.LABEL_NOMBRE} "/>
					<p:inputText id="itNombre" value="#{materiaBean.materia.nvNombre}" validatorMessage="Campo nombre inválido no debe contener caracteres especiales" ><f:validateRegex pattern="^([A-Za-z0-9áéíóúÁÉÍÓÚ \s]{1,50}$)+" /></p:inputText>
					<p:tooltip for="toItNombre"
						value="Campo para ingresar el nombre de la materia"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItNombre" for="itNombre"/>
					
				</p:panelGrid>
			</p:fieldset>
		</h:form>	
		<p:dialog showEffect="fade" hideEffect="explode" widgetVar="materia" closeOnEscape="true" modal="true" appendTo="@(body)" responsive="true">
			<p:fieldset legend="Formulario datos materia" toggleable="true" toggleSpeed="500">
				<h:form id="form">			
					<p:dataTable value="#{materiaBean.listaMateria2}" var="materia" editable="true"
					id="idTablaMateria" emptyMessage="No existen materias para mostrar">
					
					<p:ajax event="rowEdit" listener="#{materiaBean.actualizarFila}" >
					</p:ajax>
		     		<p:ajax event="rowEditCancel" listener="#{materiaBean.onRowCancel}" />
					
						<p:column headerText="Código">
							<h:outputText value="#{materia.inCodigo}" />
						</p:column>
						
						<p:column headerText="Nombre">
							<p:cellEditor>
					               <f:facet name="output"><h:outputText value="#{materia.nvNombre}" /></f:facet>
					               <f:facet name="input"><p:inputText value="#{materia.nvNombre}" style="width:100%"/></f:facet>
					           </p:cellEditor>
						</p:column>
						
						<p:column>
							<p:rowEditor />
						</p:column>
						
					</p:dataTable>
				</h:form>
			</p:fieldset>
		</p:dialog>
		
		<p:dialog appendTo="@(body)" widgetVar="inhabilitarMateria">
			<h:form id="form2">
			
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Inhabilitar" id="cbInhabilitar" actionListener="#{materiaBean.inhabilitar()}" update="idTablaMateria" style="margin-top:5px">
				           <p:tooltip id="toItEditar" for="cbInhabilitar"
								value="Botón para habilitar el materia"
								showEffect="clip" hideEffect="explode" />
						</p:commandButton>
					</f:facet>
				</p:toolbar>
				
				<br/>
				
				<p:panelGrid>
					<h:outputLabel for="itCodigo" value="Ingrese un código"/>
					<p:inputText id="itCodigo" value="#{materiaBean.materia.inCodigo}"/>
					
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código del materia que desea inhabilitar"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
				</p:panelGrid>
				
				<br/>
				
				<p:dataTable value="#{materiaBean.listaMateria2}" var="materia" editable="true" sortMode="multiple"
						id="idTablaMateria" emptyMessage="No existen materia para mostrar" rows="15" paginator="true"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
                         rowsPerPageTemplate="5,10,15" >
				
					<f:facet name="header">
				        Lista de materias
				 
				        <p:commandButton id="toggler" type="button" value="Columnas" style="float:right" icon="ui-icon-calculator" />
				        <p:columnToggler datasource="idTablaMateria" trigger="toggler" />
				    </f:facet>
					
					<f:facet name="{Exporters}">
			            <h:commandLink>
			                <p:graphicImage value="/imagenes/excel.ico" width="24"/>
			                <p:dataExporter type="xls" target="idTablaMateria" fileName="materias" pageOnly="true"/>
			            </h:commandLink>
			 
			            <h:commandLink>
			                <p:graphicImage value="/imagenes/pdf.png" width="24"/>
			                <p:dataExporter type="pdf" target="idTablaMateria" fileName="materias" encoding="utf8"/>
			            </h:commandLink>
			        </f:facet>
			             		
						<p:column headerText="Código" sortBy="#{materia.inCodigo}" width="80" filterBy="">
							<p:cellEditor>
				               <f:facet name="output"><h:outputText value="#{materia.inCodigo}" /></f:facet>
				               <f:facet name="input"><p:inputText value="#{materia.inCodigo}" style="width:100%"/></f:facet>
				           </p:cellEditor>
						</p:column>
						
						<p:column headerText="Nombre" sortBy="#{materia.nvNombre}" filterBy="">
							<p:cellEditor>
						        <f:facet name="output"><h:outputText value="#{materia.nvNombre}" /></f:facet>
						        <f:facet name="input"><p:inputText value="#{materia.nvNombre}" style="width:100%"/></f:facet>
					        </p:cellEditor>
						</p:column>
											
				</p:dataTable>
		</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

</html>
