<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jstl/core">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de Usuario!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
	<h:head>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
	</h:head>
		<h:form id="form">
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar"  action="#{notaXEstudianteGrupoBean.limpiar()}" update="idLimpiarCampos"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{notaXEstudianteGrupoBean.crear()}" update="idTablaNotaXEstudianteGrupo" style="margin-top:5px">
						<p:tooltip id="toItCrear" for="cbCrear"
							value="Botón utilizado para registrar la nueva información ingresada el formulario"
							showEffect="clip" hideEffect="explode" />
						</p:commandButton>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{notaXEstudianteGrupoBean.actualizar()}" update="idTablaNotaXEstudianteGrupo" oncomplete="PF('notaXEstudianteGrupo').show()" style="margin-top:5px" />
 						<p:commandButton value="Inhabilitar" id="cbInhabilitar" action="#{notaXEstudianteGrupoBean.inhabilitar()}" update="idTablaNotaXEstudianteGrupo"/>
 						<p:commandButton value="Consultar" id="cbConsultar" action="#{notaXEstudianteGrupoBean.consultar()}" update="idTablaNotaXEstudianteGrupo" oncomplete="PF('notaXEstudianteGrupo').show()" style="margin-top:5px"/>
					
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiarCampos">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{notaXEstudianteGrupoBean.notaXEstudianteGrupo.inCodigo}"/>
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
					
					<p:outputLabel for="itCodigoNotaGrupo" value="Tipo Nota grupo: " />
					<p:selectOneMenu id="itCodigoNotaGrupo" value="#{notaXEstudianteGrupoBean.notaXEstudianteGrupo.tblNotaXGrupo.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar una nota grupo" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{notaXGrupoBean.listaNotaXGrupo}" var="notaGrupo" itemLabel="#{notaGrupo.nvDescripcion}, #{notaGrupo.tblGrupo.tblMateriaXPensum.tblMateria.nvNombre}" itemValue="#{notaGrupo.inCodigo}" />
					</p:selectOneMenu>
					
					<p:outputLabel for="itCodigoEstudianteGrupo" value="Estudiante grupo: " />
					<p:selectOneMenu id="itCodigoEstudianteGrupo" value="#{notaXEstudianteGrupoBean.notaXEstudianteGrupo.tblEstudianteXGrupo.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar un estudiante para grupo" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{estudianteXGrupoBean.listaEstudianteXGrupo}" var="estudianteXGrupo" itemLabel="#{estudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerNombre} #{estudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerApellido}" itemValue="#{estudianteXGrupo.inCodigo}" />
					</p:selectOneMenu>
					
					<p:outputLabel for="itSesion" value="Sesión: " />
					<p:selectOneMenu id="itSesion" value="#{notaXEstudianteGrupoBean.notaXEstudianteGrupo.tblSesion.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar el número de sesión" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{sesionBean.listaSesion}" var="sesion" itemLabel="#{sesion.inSesion}" itemValue="#{sesion.inCodigo}" />
					</p:selectOneMenu>
					
					
					<h:outputLabel for="itNota" value="Nota: "/>
					<p:spinner id="itNota" value="#{notaXEstudianteGrupoBean.notaXEstudianteGrupo.nuNota}" max="5" min="0" stepFactor="0.1" onkeypress="return false"/>
					<p:tooltip for="itNota"
						value="Campo para ingresar la nota"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItNota" for="itNota"/>
					
				</p:panelGrid>
		
     <p:dialog showEffect="fade" hideEffect="fade" widgetVar="notaXEstudianteGrupo" closeOnEscape="true" modal="true" appendTo="@(body)">		
				
				<p:dataTable value="#{notaXEstudianteGrupoBean.listaNotaXEstudianteGrupo}" var="notaXEstudianteGrupo" editable="true" sortBy="#{notaXEstudianteGrupo.tblEstudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvNumeroIdentificacion} #{notaXEstudianteGrupo.tblNotaXGrupo.tblGrupo.tblMateriaXPensum.tblMateria.nvNombre}"
						id="idTablaNotaXEstudianteGrupo" emptyMessage="No existen notas de estudiante por grupo para mostrar" rows="5" paginator="true"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
                         rowsPerPageTemplate="5,10,15,20,25,30,35,40" scrollable="true" >
				
				<f:facet name="header">
			        Lista de notas de estudiante por Grupo
			 
			        <p:commandButton id="toggler" type="button" value="Columnas" style="float:right" icon="ui-icon-calculator" />
			        <p:columnToggler datasource="idTablaNotaXEstudianteGrupo" trigger="toggler" />
			    </f:facet>
				
				<f:facet name="{Exporters}">
		            <h:commandLink>
		                <p:graphicImage value="/imagenes/excel.ico" width="24"/>
		                <p:dataExporter type="xls" target="idTablaNotaXEstudianteGrupo" fileName="notaXEstudianteGrupos" pageOnly="true"/>
		            </h:commandLink>
		 
		            <h:commandLink>
		                <p:graphicImage value="/imagenes/pdf.png" width="24"/>
		                <p:dataExporter type="pdf" target="idTablaNotaXEstudianteGrupo" fileName="notaXEstudianteGrupos" encoding="utf8"/>
		            </h:commandLink>
		        </f:facet>
		        
				<!-- <p:ajax event="rowEdit" listener="#{notaXEstudianteGrupoBean.onRowEdit}"/>
     			<p:ajax event="rowEditCancel" listener="#{notaXEstudianteGrupoBean.onRowCancel}"/>
  -->
					<p:column headerText="Código" sortBy="#{notaXEstudianteGrupo.inCodigo}" id="codigo" width="80" filterBy="">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{notaXEstudianteGrupo.inCodigo}" /></f:facet>
			               <f:facet name="input"><p:inputText value="#{notaXEstudianteGrupo.inCodigo}" style="width:100%"/></f:facet>
			           </p:cellEditor>
					</p:column>
					
					<p:column headerText="ID" sortBy="#{notaXEstudianteGrupo.tblEstudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvNumeroIdentificacion}" visible="false" exportable="false">
						#{notaXEstudianteGrupoBean.contarNotas(notaXEstudianteGrupoBean.contarNota)}
						#{notaXEstudianteGrupoBean.acumuladorPorcentajes(notaXEstudianteGrupo.tblNotaXGrupo.inPorcentaje)}
						#{notaXEstudianteGrupoBean.acumuladorNotasFinales(notaXEstudianteGrupo.nuNota * (notaXEstudianteGrupo.tblNotaXGrupo.inPorcentaje/100))}
						<h:outputText value="#{notaXEstudianteGrupo.tblEstudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvNumeroIdentificacion}" />
					</p:column>
					
					<p:column headerText="ID" sortBy="#{notaXEstudianteGrupo.tblEstudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvNumeroIdentificacion}" exportable="true">
						<h:outputText value="#{notaXEstudianteGrupo.tblEstudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvNumeroIdentificacion}" />
					</p:column>
					
					<p:column headerText="Materia">
						<h:outputText value="#{notaXEstudianteGrupo.tblEstudianteXGrupo.tblGrupo.tblMateriaXPensum.tblMateria.nvNombre}" />
					</p:column>	
					
					<p:column headerText="Tipo nota">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{notaXEstudianteGrupo.tblNotaXGrupo.nvDescripcion}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itCodigoTipoNota" value="#{notaXEstudianteGrupo.tblNotaXGrupo.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									
									<f:selectItems value="#{notaXGrupoBean.listaNotaXGrupo}" var="notaXGrupo" itemLabel="#{notaXGrupo.nvDescripcion}" itemValue="#{notaXGrupo.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
					
					<p:column headerText="Estudiante">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{notaXEstudianteGrupo.tblEstudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerNombre} #{notaXEstudianteGrupo.tblEstudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerApellido}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itCodigoEstudiante" value="#{notaXEstudianteGrupo.tblEstudianteXGrupo.tblEstudianteXInstitucion.segUsuario.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									<f:selectItems value="#{estudianteXGrupoBean.listaEstudianteXGrupo}" var="estudianteXGrupo" itemLabel="#{estudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerNombre} #{estudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerApellido}" itemValue="#{estudianteXGrupo.tblEstudianteXInstitucion.segUsuario.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
					
					<p:column headerText="Número Sesión">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{notaXEstudianteGrupo.tblSesion.inSesion}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itSesion" value="#{notaXEstudianteGrupo.tblSesion.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									<f:selectItems value="#{sesionBean.listaSesion}" var="sesion" itemLabel="#{sesion.inSesion}" itemValue="#{sesion.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
		           
					<p:column headerText="Nota" sortBy="#{notaXEstudianteGrupo.nuNota}" id="nota" filterBy="">
						<p:cellEditor>
					        <f:facet name="output"><h:outputText value="#{notaXEstudianteGrupo.nuNota}" /></f:facet>
					        <f:facet name="input"><p:spinner value="#{notaXEstudianteGrupo.nuNota}" stepFactor="0.1" style="width:100%"/></f:facet>
				        </p:cellEditor>
					</p:column>
					
					<p:column headerText="Porcentaje" sortBy="#{notaXEstudianteGrupo.tblNotaXGrupo.inPorcentaje}" id="porcentaje" filterBy="">
						<p:cellEditor>
					        <f:facet name="output"><h:outputText value="#{notaXEstudianteGrupo.tblNotaXGrupo.inPorcentaje}" /></f:facet>
					        <f:facet name="input"><p:spinner value="#{notaXEstudianteGrupo.tblNotaXGrupo.inPorcentaje}" stepFactor="0.1" style="width:100%"/></f:facet>
				        </p:cellEditor>
					</p:column>
					
					<p:column headerText="Fecha registro" sortBy="#{notaXEstudianteGrupo.daFechaRegistro}" filterBy="">
					        <h:outputText value="#{notaXEstudianteGrupo.daFechaRegistro}" />
					</p:column>

					<p:column  headerText="NotaPorcentual" sortBy="" filterBy="">
					        <h:outputText  value="#{notaXEstudianteGrupo.nuNota * notaXEstudianteGrupo.tblNotaXGrupo.inPorcentaje/100}">
								<f:convertNumber pattern="#0.00" locale="pt_BR"/>
							</h:outputText>
					</p:column>
										
					<p:column style="width:32px" exportable="false" width="10">
			           <p:rowEditor />
			       </p:column>
					
					<p:summaryRow>
						
						<p:column colspan="2" style="text-align:right" >
			            	<h:outputText value="#{notaXEstudianteGrupoBean.listaNotaXEstudianteGrupoFinal}"/>
						</p:column>
						
						<p:column colspan="6" style="text-align:right" >
			            	<h:outputText value="#{notaXEstudianteGrupoBean.acumuladorPorcentaje}">
			            		<f:convertNumber  pattern="#0.00" locale="pt_BR"/>
			            	</h:outputText>
						</p:column>
						
			            <p:column style="text-align:right">
			                <h:outputText value="Total:" />
			            </p:column>
			            
			            <p:column exportable="true">
			            	<h:outputText value="#{notaXEstudianteGrupoBean.acumuladorNotaFinal/notaXEstudianteGrupoBean.contarNota}">
			            		<f:convertNumber pattern="#0.00" locale="pt_BR"/>
			            	</h:outputText>
			        	</p:column>
						
						<!--<p:column>
			                <h:outputText rendered="true" value="#{(notaXEstudianteGrupo.nuNota * notaXEstudianteGrupo.tblNotaXGrupo.inPorcentaje/100)}">
			                    <f:convertNumber type="number" />
			                    
			                </h:outputText>
			            </p:column> -->
			        
			        </p:summaryRow>
			        
				</p:dataTable>
				
		</p:dialog>
		
		</h:form>
	</ui:define>
</ui:composition>

</html>
