<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de Usuario!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
	<h:head>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
	</h:head>
		<h:form id="form">
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar"  action="#{notaXGrupoBean.limpiar()}" update="idLimpiarCampos"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{notaXGrupoBean.crear()}" update="idTablaNotaXGrupo" style="margin-top:5px">
						<p:tooltip id="toItCrear" for="cbCrear"
							value="Botón utilizado para registrar la nueva información ingresada el formulario"
							showEffect="clip" hideEffect="explode" />
						</p:commandButton>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{notaXGrupoBean.actualizar()}" update="idTablaNotaXGrupo" oncomplete="PF('notaXGrupo').show()" style="margin-top:5px" />
						<p:commandButton value="Inhabilitar" id="cbInhabilitar" action="#{notaXGrupoBean.inhabilitar()}" update="idTablaNotaXGrupo"/>
						<p:commandButton value="Consultar" id="cbConsultar" action="#{notaXGrupoBean.consultar()}" update="idTablaNotaXGrupo" oncomplete="PF('notaXGrupo').show()" style="margin-top:5px"/>
					
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiarCampos">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{notaXGrupoBean.notaXGrupo.inCodigo}"/>
					
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
					
					<p:outputLabel for="itCodigoNotaGrupo" value="Materia: " />
					<p:selectOneMenu id="itCodigoNotaGrupo" value="#{notaXGrupoBean.notaXGrupo.tblGrupo.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar una materia" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{grupoBean.listaGrupo}" var="notaGrupo" itemLabel="#{notaGrupo.tblMateriaXPensum.tblMateria.nvNombre} - #{notaGrupo.tiHoraInicio}" itemValue="#{notaGrupo.inCodigo}" />
					</p:selectOneMenu>
					 
					<p:outputLabel for="itCodigoTipoNota" value="Tipo de Nota: " />
					<p:selectOneMenu id="itCodigoTipoNota" value="#{notaXGrupoBean.notaXGrupo.tblTipoNota.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar un Tipo de Nota" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{tipoNotaBean.listaTipoNota}" var="tipoNotaGrupo" itemLabel="#{tipoNotaGrupo.nvNombre}" itemValue="#{tipoNotaGrupo.inCodigo}" />
					</p:selectOneMenu>
					
					<h:outputLabel for="itDescripción" value="Descripción: "/>
					<p:inputTextarea id="itDescripción" value="#{notaXGrupoBean.notaXGrupo.nvDescripcion}"/>
					<p:tooltip for="itDescripción"
						value="Campo para ingresar descripción de la nota"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItDescripción" for="itDescripción"/>
					
					<h:outputLabel for="itPorcentaje" value="Porcentaje: "/>
					<p:spinner id="itPorcentaje" min="0" max="100" suffix="%" value="#{notaXGrupoBean.notaXGrupo.inPorcentaje}"/>
					<p:tooltip for="itPorcentaje"
						value="Campo para ingresar el porcentaje de la nota"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItPorcentaje" for="itPorcentaje"/>
					
					<h:outputLabel for="itFechaRegistro" value="Fecha de Registro Nota: "/>
					<p:calendar id="itFechaRegistro" value="#{notaXGrupoBean.notaXGrupo.daFechaRegistro}">
					</p:calendar>
					<p:tooltip for="itFechaRegistro"
						value="Campo para ingresar la fecha de registro de la nota"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItFechaRegistro" for="itFechaRegistro"/>
					
				</p:panelGrid>
		
     <p:dialog showEffect="fade" hideEffect="fade" widgetVar="notaXGrupo" closeOnEscape="true" modal="true" appendTo="@(body)">		
				
				<p:dataTable value="#{notaXGrupoBean.listaNotaXGrupo2}" var="notaXGrupo" editable="true" sortMode="multiple" 
						id="idTablaNotaXGrupo" emptyMessage="No existen nota Grupo para mostrar" rows="5" paginator="true"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
                         rowsPerPageTemplate="5,10,15" >
				
				<f:facet name="header">
			        Lista de notaXGrupos
			 
			        <p:commandButton id="toggler" type="button" value="Columnas" style="float:right" icon="ui-icon-calculator" />
			        <p:columnToggler datasource="idTablaNotaXGrupo" trigger="toggler" />
			    </f:facet>
				
				<f:facet name="{Exporters}">
		            <h:commandLink>
		                <p:graphicImage value="/imagenes/excel.ico" width="24"/>
		                <p:dataExporter type="xls" target="idTablaNotaXGrupo" fileName="notaXGrupos" pageOnly="true"/>
		            </h:commandLink>
		 
		            <h:commandLink>
		                <p:graphicImage value="/imagenes/pdf.png" width="24"/>
		                <p:dataExporter type="pdf" target="idTablaNotaXGrupo" fileName="notaXGrupos" encoding="utf8"/>
		            </h:commandLink>
		        </f:facet>
		        
				<!-- <p:ajax event="rowEdit" listener="#{notaXGrupoBean.onRowEdit}"/>
     			<p:ajax event="rowEditCancel" listener="#{notaXGrupoBean.onRowCancel}"/>
  -->
					<p:column headerText="Código" sortBy="#{notaXGrupo.inCodigo}" width="80" filterBy="">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{notaXGrupo.inCodigo}" /></f:facet>
			               <f:facet name="input"><p:inputText value="#{notaXGrupo.inCodigo}" style="width:100%"/></f:facet>
			           </p:cellEditor>
					</p:column>
					
					<p:column headerText="Materia">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{notaXGrupo.tblGrupo.tblMateriaXPensum.tblMateria.nvNombre}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itCodigoMateria" value="#{notaXGrupo.tblGrupo.tblMateriaXPensum.tblMateria.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									<f:selectItems value="#{grupoBean.listaGrupo}" var="notaGrupo" itemLabel="#{notaGrupo.tblMateriaXPensum.tblMateria.nvNombre}" itemValue="#{notaGrupo.tblMateriaXPensum.tblMateria.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
					
					<p:column headerText="Tipo nota">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{notaXGrupo.tblTipoNota.nvNombre}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itCodigoTipoNota" value="#{notaXGrupo.tblTipoNota.inCodigo}" 
								disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									
									<f:selectItems value="#{tipoNotaBean.listaTipoNota}" var="tipoNota" itemLabel="#{tipoNota.nvNombre}" 
									itemValue="#{tipoNota.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
					
					<p:column headerText="Descripción" sortBy="#{notaXGrupo.nvDescripcion}" filterBy="">
						<p:cellEditor>
					        <f:facet name="output"><h:outputText value="#{notaXGrupo.nvDescripcion}" /></f:facet>
					        <f:facet name="input"><p:inputText id="idNvDescripcionNotaXGrupo" value="#{notaXGrupo.nvDescripcion}" style="width:100%"/></f:facet>
				        </p:cellEditor>
					</p:column>
					
					<p:column headerText="Porcetaje Nota" sortBy="#{notaXGrupo.inPorcentaje}" filterBy="">
						<p:cellEditor>
					        <f:facet name="output"><h:outputText value="#{notaXGrupo.inPorcentaje}" /></f:facet>
					        <f:facet name="input"><p:inputText value="#{notaXGrupo.inPorcentaje}" style="width:100%"/></f:facet>
				        </p:cellEditor>
					</p:column>
					
					<p:column headerText="ID" sortBy="#{notaXGrupo.tblGrupo.tblProfesorXInstitucion.segUsuario.nvNumeroIdentificacion}" visible="false" exportable="false">
						#{notaXGrupoBean.acumuladorPorcentajes(notaXGrupo.inPorcentaje)}
						<h:outputText value="#{notaXGrupo.tblGrupo.tblProfesorXInstitucion.segUsuario.nvNumeroIdentificacion}" />
					</p:column>
					
					<p:column headerText="Profesor">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{notaXGrupo.tblGrupo.tblProfesorXInstitucion.segUsuario.nvPrimerNombre} 
			               		#{notaXGrupo.tblGrupo.tblProfesorXInstitucion.segUsuario.nvPrimerApellido}" />
			               </f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itCodigoProfesor" value="#{notaXGrupo.tblGrupo.tblProfesorXInstitucion.segUsuario.inCodigo}" 
								disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									<f:selectItems value="#{profesorBean.listaProfesor}" var="profesor" 
									itemLabel="#{profesor.nvPrimerNombre} #{profesor.nvPrimerApellido}" itemValue="#{profesor.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
					
					
					
					<!-- Filtrar Fecha
					<f:facet name="filter">
					    <p:calendar  pattern="dd/MM/yyyy">
					        <p:ajax event="dateSelect"  oncomplete="PF('').filter()"/>
					    </p:calendar>
					</f:facet>		-->			
					
					<p:column style="width:32px" exportable="false" width="10">
			           <p:rowEditor />
			       </p:column>
					
				</p:dataTable>
				
		</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>

</html>
