<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de tipos de Identificación!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
			<p:fieldset legend="Formulario datos tipo programa" toggleable="true" toggleSpeed="500">
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar" action="#{pensumBean.limpiar()}" update="idLimpiar"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{pensumBean.crear()}" update="idTablaPensum"/>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{pensumBean.actualizar()}" update="idTablaPensum"/>
						<p:commandButton value="Inhabilitar" id="cbInhabilitar" action="#{pensumBean.inhabilitar()}" update="idTablaPensum"/>
						<p:commandButton value="Consultar" id="cbConsultar" action="#{pensumBean.consultar()}" update="idTablaPensum"/>
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiar">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{pensumBean.pensum.inCodigo}"/>
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de tipo de programa"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
					<h:outputLabel for="itNombre" value="#{mensajes.LABEL_NOMBRE} "/>
					<p:inputText id="itNombre" value="#{pensumBean.pensum.nvNombre}" validatorMessage="Campo nombre inválido no debe contener caracteres especiales" ><f:validateRegex pattern="^([A-Za-z0-9áéíóúÁÉÍÓÚ \s]{1,50}$)+" /></p:inputText>
					<p:tooltip for="toItNombre"
						value="Campo para ingresar el nombre de tipo de programa"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItNombre" for="itNombre"/>
					
					<p:outputLabel for="itCodigoPrograma" value="Programa" />
					<p:selectOneMenu id="itCodigoPrograma" value="#{pensumBean.pensum.tblPrograma.inCodigo}" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar programa" itemValue="0" noSelectionOption="true"/>
						<f:selectItems value="#{programaBean.listaPrograma}" var="programa" itemLabel="#{programa.nvNombre}" itemValue="#{programa.inCodigo}" />
					</p:selectOneMenu>
					
				</p:panelGrid>
			</p:fieldset>
			
			<p:fieldset legend="Formulario datos tipo programa" toggleable="true" toggleSpeed="500">
							
				<p:dataTable value="#{pensumBean.listaPensum}" var="pensum" 
				id="idTablaPensum" emptyMessage="No existen tipos de programa para mostrar">
				
					<p:column headerText="Código">
						<h:outputText value="#{pensum.inCodigo}" />
					</p:column>
					
					<p:column headerText="Nombre">
						<h:outputText value="#{pensum.nvNombre}" />
					</p:column>
					
					<p:column headerText="Programa">
						<h:outputText value="#{pensum.tblPrograma.nvNombre}" />
					</p:column>
					
				</p:dataTable>
			</p:fieldset>
				
		</h:form>
	</ui:define>
</ui:composition>

</html>
