<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de periodo académico!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
			<p:fieldset legend="Formulario datos periodoAcademico" toggleable="true" toggleSpeed="500">
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar" action="#{periodoAcademicoBean.limpiar()}" update="idLimpiar"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{periodoAcademicoBean.crear()}" update="idTablaPeriodoAcademico"/>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{periodoAcademicoBean.actualizar()}" update="idTablaPeriodoAcademico"/>
						<p:commandButton value="Inhabilitar" id="cbInhabilitar" action="#{periodoAcademicoBean.inhabilitar()}" update="idTablaPeriodoAcademico"/>
						<p:commandButton value="Consultar" id="cbConsultar" action="#{periodoAcademicoBean.consultar()}" update="idTablaPeriodoAcademico"/>
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiar">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{periodoAcademicoBean.periodoAcademico.inCodigo}"/>
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de tipo de periodoAcademico"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
					<p:outputLabel for="itFechaInicio" value="Fecha Inicio: " />
        			<p:calendar id="itFechaInicio" value="#{periodoAcademicoBean.periodoAcademico.daFechaInicio}" />
							
					<p:outputLabel for="itFechaFin" value="Fecha Fin:" />
        			<p:calendar id="itFechaFin" value="#{periodoAcademicoBean.periodoAcademico.daFechaFin}" />
						
					<p:outputLabel for="itCodigoPeriodoAcademico" value="Periodo académico" />
					<p:selectOneMenu id="itCodigoPeriodoAcademico" value="#{periodoAcademicoBean.periodoAcademico.tblTipoPeriodoAcademico.inCodigo}" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar un periodo académico" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{tipoPeriodoAcademicoBean.listaTipoPeriodoAcademico}" var="tipoPeriodoAcademico" itemLabel="#{tipoPeriodoAcademico.nvNombre}" itemValue="#{tipoPeriodoAcademico.inCodigo}" />
					</p:selectOneMenu>
					
				</p:panelGrid>
			</p:fieldset>
			
			<p:fieldset legend="Formulario datos periodo Académico" toggleable="true" toggleSpeed="500">
							
				<p:dataTable value="#{periodoAcademicoBean.listaPeriodoAcademico}" var="periodoAcademico" 
				id="idTablaPeriodoAcademico" emptyMessage="No existen tipos de periodo Académico para mostrar">
				
					<p:column headerText="Código">
						<h:outputText value="#{periodoAcademico.inCodigo}" />
					</p:column>
					
					<p:column headerText="Fecha inicio">
						<h:outputText value="#{periodoAcademico.daFechaInicio}" />
					</p:column>
					
					<p:column headerText="Fecha fin">
						<h:outputText value="#{periodoAcademico.daFechaFin}" />
					</p:column>
										
					<p:column headerText="Periodo Académico">
						<h:outputText value="#{periodoAcademico.tblTipoPeriodoAcademico.nvNombre}" />
					</p:column>

				</p:dataTable>
			</p:fieldset>
				
		</h:form>
	</ui:define>
</ui:composition>

</html>
