<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de tipos de Identificación!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
			<p:fieldset legend="Formulario datos profesorXInstitucion" toggleable="true" toggleSpeed="500">
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar" action="#{profesorXInstitucionBean.limpiar()}" update="idLimpiar"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{profesorXInstitucionBean.crear()}" update="idTablaProfesorXInstitucion"/>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{profesorXInstitucionBean.actualizar()}" update="idTablaProfesorXInstitucion"/>
						<p:commandButton value="Inhabilitar" id="cbInhabilitar" action="#{profesorXInstitucionBean.inhabilitar()}" update="idTablaProfesorXInstitucion"/>
						<p:commandButton value="Consultar" id="cbConsultar" action="#{profesorXInstitucionBean.consultar()}" update="idTablaProfesorXInstitucion"/>
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiar">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{profesorXInstitucionBean.profesorXInstitucion.inCodigo}"/>
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código profesorXInstitucion"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
						
					<p:outputLabel for="itCodigoGrupo" value="Institución" />
					<p:selectOneMenu id="itCodigoGrupo" value="#{profesorXInstitucionBean.profesorXInstitucion.tblInstitucion.inCodigo}" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar una institución" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{institucionBean.listaInstitucion}" var="institucion" itemLabel="#{institucion.nvNombre}" itemValue="#{institucion.inCodigo}" />
					</p:selectOneMenu>
					
					<p:outputLabel for="itCodigoProfesor" value="Profesor" />
					<p:selectOneMenu id="itCodigoProfesor" value="#{profesorXInstitucionBean.profesorXInstitucion.segUsuario.inCodigo}" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar un Profesor" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{usuarioBean.listaUsuarioPerfilProfesor}" var="profesor" itemLabel="#{profesor.nvPrimerNombre} #{profesor.nvPrimerApellido}" itemValue="#{profesor.inCodigo}" />
					</p:selectOneMenu>
					
				</p:panelGrid>
			</p:fieldset>
			
			<p:fieldset legend="Formulario datos periodo Académico" toggleable="true" toggleSpeed="500">
							
				<p:dataTable value="#{profesorXInstitucionBean.listaProfesorXInstitucion}" var="profesorXInstitucion" 
				id="idTablaProfesorXInstitucion" emptyMessage="No existen tipos de periodo Académico para mostrar">
				
					<p:column headerText="Código">
						<h:outputText value="#{profesorXInstitucion.inCodigo}" />
					</p:column>
										
					<p:column headerText="Institución">
						<h:outputText value="#{profesorXInstitucion.tblInstitucion.nvNombre}" />
					</p:column>
					
					<p:column headerText="Profesor">
						<h:outputText value="#{profesorXInstitucion.segUsuario.nvPrimerNombre} #{profesorXInstitucion.segUsuario.nvPrimerApellido}" />
					</p:column>

				</p:dataTable>
			</p:fieldset>
				
		</h:form>
	</ui:define>
</ui:composition>

</html>
