<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de género!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
			<p:fieldset legend="Formulario datos institución" toggleable="true" toggleSpeed="500">
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar" action="#{semestreBean.limpiar()}" update="idLimpiar"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{semestreBean.crear()}" update="idTablaSemestre"/>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{semestreBean.actualizar()}" update="idTablaSemestre"/>
						<p:commandButton value="Consultar" id="cbConsultar" action="#{semestreBean.consultar()}" update="idTablaSemestre"/>
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiar">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{semestreBean.semestre.inCodigo}"/>
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de género"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
					<h:outputLabel for="itNumero" value="#{mensajes.LABEL_NUMERO_SEMESTRE}"/>
					<p:inputText id="itNumero" value="#{semestreBean.semestre.inAño}"/>
					<p:tooltip for="toItNumero"
						value="Campo para ingresar el número de semestre"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItNumero" for="itNumero"/>
					
					<h:outputLabel for="itNombre" value="#{mensajes.LABEL_NOMBRE_SEMESTRE} "/>
					<p:inputText id="itNombre" value="#{semestreBean.semestre.nvNombre}" validatorMessage="Campo nombre inválido no debe contener caracteres especiales" ><f:validateRegex pattern="^([A-Za-z0-9 \s]{1,50}$)+" /></p:inputText>
					<p:tooltip for="toItNombre"
						value="Campo para ingresar el nombre de género"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItNombre" for="itNombre"/>
					
				</p:panelGrid>
			</p:fieldset>
			
			<p:fieldset legend="Formulario datos institución" toggleable="true" toggleSpeed="500">
							
				<p:dataTable value="#{semestreBean.listaSemestre}" var="semestre" 
				id="idTablaSemestre" emptyMessage="No existe semestre para mostrar">
				
					<p:column headerText="Código">
						<h:outputText value="#{semestre.inCodigo}" />
					</p:column>
					
					<p:column headerText="Número Semestre">
						<h:outputText value="#{semestre.inAño}" />
					</p:column>
					
					<p:column headerText="Nombre">
						<h:outputText value="#{semestre.nvNombre}" />
					</p:column>
					
					
				</p:dataTable>
			</p:fieldset>
				
		</h:form>

	</ui:define>
</ui:composition>

</html>
