<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de tipos de Identificación!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
			<p:fieldset legend="Formulario datos sesion" toggleable="true" toggleSpeed="500">
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar" action="#{sesionBean.limpiar()}" update="idLimpiar"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{sesionBean.crear()}" update="idTablaSesion"/>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{sesionBean.actualizar()}" update="idTablaSesion"/>
						<p:commandButton value="Consultar" id="cbConsultar" action="#{sesionBean.consultar()}" update="idTablaSesion"/>
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiar">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{sesionBean.sesion.inCodigo}"/>
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de tipo de sesion"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
						
					<h:outputLabel for="itSesion" value="Número Sesión"/>
					<p:spinner id="itSesion" value="#{sesionBean.sesion.inSesion}" min="1" />
					<p:tooltip for="itSesion"
						value="Campo para ingresar el código de tipo de sesion"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItSesion" for="itSesion"/>	
						
					<p:outputLabel for="itCodigoGrupo" value="Grupo" />
					<p:selectOneMenu id="itCodigoGrupo" value="#{sesionBean.sesion.tblGrupo.inCodigo}" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar un grupo" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{grupoBean.listaGrupo}" var="grupo" itemLabel="#{grupo.tblMateriaXPensum.tblMateria.nvNombre} - #{grupo.nvDia} - #{grupo.tiHoraInicio}" itemValue="#{grupo.inCodigo}" />
					</p:selectOneMenu>
					
					<p:outputLabel for="itHoraInicio" value="Fecha Inicio:" />
        			<p:calendar id="itHoraInicio" value="#{sesionBean.sesion.dtFechaSesion}" />
										
				</p:panelGrid>
			</p:fieldset>
			
			<p:fieldset legend="Formulario datos sesión" toggleable="true" toggleSpeed="500">
							
				<p:dataTable value="#{sesionBean.listaSesion}" var="sesion" 
				id="idTablaSesion" emptyMessage="No existen sesiones para mostrar">
				
					<p:column headerText="Código">
						<h:outputText value="#{sesion.inCodigo}" />
					</p:column>
					
					<p:column headerText="Número sesión">
						<h:outputText value="#{sesion.inSesion}" />
					</p:column>
					
					<p:column headerText="Fecha Sesión" >
						<h:outputText value="#{sesion.dtFechaSesion}" >
							<f:convertDateTime dateStyle="long"/>
						</h:outputText>
					</p:column>
					
					<p:column headerText="Fecha Límite">
						<h:outputText value="#{sesion.dtFechaLimite}" >
							<f:convertDateTime dateStyle="long"/>
						</h:outputText>
					</p:column>
										
					<p:column headerText="Grupo">
						<h:outputText value="#{sesion.tblGrupo.tblMateriaXPensum.tblMateria.nvNombre} - #{sesion.tblGrupo.nvDia} - #{sesion.tblGrupo.tiHoraInicio}" />
					</p:column>

				</p:dataTable>
			</p:fieldset>
				
		</h:form>
	</ui:define>
</ui:composition>

</html>
