<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de tipos de Identificación!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
			<p:fieldset legend="Formulario datos tipo programa" toggleable="true" toggleSpeed="500">
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar" action="#{tipoProgramaBean.limpiar()}" update="idLimpiar"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{tipoProgramaBean.crear()}" update="idTablaTipoPrograma"/>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{tipoProgramaBean.actualizar()}" update="idTablaTipoPrograma"/>
						<p:commandButton value="Consultar" id="cbConsultar" action="#{tipoProgramaBean.consultar()}" update="idTablaTipoPrograma"/>
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiar">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{tipoProgramaBean.tipoPrograma.inCodigo}"/>
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de tipo de programa"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
					<h:outputLabel for="itNombre" value="#{mensajes.LABEL_NOMBRE} "/>
					<p:inputText id="itNombre" value="#{tipoProgramaBean.tipoPrograma.nvNombre}" validatorMessage="Campo nombre inválido no debe contener caracteres especiales" ><f:validateRegex pattern="^([A-Za-z0-9 \s]{1,50}$)+" /></p:inputText>
					<p:tooltip for="toItNombre"
						value="Campo para ingresar el nombre de tipo de programa"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItNombre" for="itNombre"/>
					
					<p:outputLabel for="itCodigoInstitución" value="Institución" />

					<p:selectOneMenu id="itCodigoInstitución" value="#{tipoProgramaBean.tipoPrograma.tblInstitucion.inCodigo}" filter="true" filterMatchMode="startsWith">
						
						<f:selectItem itemLabel="Seleccionar institución" itemValue="0" noSelectionOption="true"/>
						
						<f:selectItems value="#{institucionBean.listaInstitucion}" var="institucion" itemLabel="#{institucion.nvNombre}" itemValue="#{institucion.inCodigo}" />
						
					</p:selectOneMenu>
					
				</p:panelGrid>
			</p:fieldset>
			
			<p:fieldset legend="Formulario datos tipo programa" toggleable="true" toggleSpeed="500">
							
				<p:dataTable value="#{tipoProgramaBean.listaTipoPrograma}" var="tipoPrograma" 
				id="idTablaTipoPrograma" emptyMessage="No existen tipos de programa para mostrar">
				
					<p:column headerText="Código">
						<h:outputText value="#{tipoPrograma.inCodigo}" />
					</p:column>
					
					<p:column headerText="Nombre">
						<h:outputText value="#{tipoPrograma.nvNombre}" />
					</p:column>
					
					<p:column headerText="Institución">
						<h:outputText value="#{tipoPrograma.tblInstitucion.nvNombre}" />
					</p:column>
					
				</p:dataTable>
			</p:fieldset>
				
		</h:form>
	</ui:define>
</ui:composition>

</html>
