<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de tipos de Identificación!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
		
		
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
			<p:fieldset legend="Formulario datos tipoNota" toggleable="true" toggleSpeed="500">
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar" action="#{tipoNotaBean.limpiar()}" update="idLimpiar"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{tipoNotaBean.crear()}" update="idTablaTipoNota"/>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{tipoNotaBean.actualizar()}" update="idTablaTipoNota"/>
						<p:commandButton value="Inhabilitar" id="cbInhabilitar" action="#{tipoNotaBean.inhabilitar()}" update="idTablaTipoNota"/>
						<p:commandButton value="Consultar" id="cbConsultar" action="#{tipoNotaBean.consultar()}" update="idTablaTipoNota"/>
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiar">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{tipoNotaBean.tipoNota.inCodigo}"/>
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de la tipoNota"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
					<h:outputLabel for="itNombre" value="Nombre tipo nota: "/>
					<p:inputText id="itNombre" value="#{tipoNotaBean.tipoNota.nvNombre}" 
					validatorMessage="Campo nombre inválido no debe contener caracteres especiales" >
						<f:validateRegex pattern="^([A-Za-z0-9 \s]{1,50}$)+" />
					</p:inputText>
					<p:tooltip for="toItNombre"
						value="Campo para ingresar el nombre del tipo de Nota"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItNombre" for="itNombre"/>
					
				</p:panelGrid>
			</p:fieldset>
			
			<p:fieldset legend="Formulario datos tipoNota" toggleable="true" toggleSpeed="500">
							
				<p:dataTable value="#{tipoNotaBean.listaTipoNota}" var="tipoNota" 
				id="idTablaTipoNota" emptyMessage="No existen tipos de Notas para mostrar">
				
					<p:column headerText="Código">
						<h:outputText value="#{tipoNota.inCodigo}" />
					</p:column>
					
					<p:column headerText="Nombre">
						<h:outputText value="#{tipoNota.nvNombre}" />
					</p:column>
					<!-- 
					<p:column headerText="Fecha inactivación">
						<h:outputText value="#{tipoNota.daFechaInactivacion}" />
					</p:column> -->
				</p:dataTable>
			</p:fieldset>
				
		</h:form>
	</ui:define>
</ui:composition>

</html>
