<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
</h:head> 
<body>
	<!-- <h:outputText value="Menú de mi aplicación!!!" /> -->
	
	
	<h:form>
	
		
			
		       <p:panel>
			       <h:graphicImage value="/imagenes/Asysas.png" align="left" height="70"/> 
			        <p:spacer width="940" height="3"/> Bienvenido  #{usuarioBean.usuario.nvNombreUsuario}
			       
			        <p:commandButton action="#{usuarioBean.logout}" value="Logout"></p:commandButton>
			        
		        </p:panel>
      		<br/>
  
        
        
    </h:form>
       
</body> 
</html>
