<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de Usuario!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
	<h:head>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
	</h:head>
		<h:form id="form">
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar"  action="#{notaXEstudianteGrupoBean.limpiar()}" update="idLimpiarCampos"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{notaXEstudianteGrupoBean.crear()}" update="idTablaNotaXEstudianteGrupo" style="margin-top:5px">
						<p:tooltip id="toItCrear" for="cbCrear"
							value="Botón utilizado para registrar la nueva información ingresada el formulario"
							showEffect="clip" hideEffect="explode" />
						</p:commandButton>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{notaXEstudianteGrupoBean.actualizar()}" update="idTablaNotaXEstudianteGrupo" style="margin-top:5px" />
 						<p:commandButton value="Inhabilitar" id="cbInhabilitar" action="#{notaXEstudianteGrupoBean.inhabilitar()}" update="idTablaNotaXEstudianteGrupo"/>
 						<p:commandButton value="Consultar" id="cbConsultar" action="#{notaXEstudianteGrupoBean.consultar()}" update="idTablaNotaXEstudianteGrupo" style="margin-top:5px"/>
					
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiarCampos">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{usuarioBean.usuario.inCodigo}"/>
					
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>

					<p:outputLabel for="itCodigoEstudianteGrupo" value="Estudiante grupo: " />
					<p:selectOneMenu id="itCodigoEstudianteGrupo" value="#{notaXEstudianteGrupoBean.notaXEstudianteGrupo.tblEstudianteXGrupo.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar un estudiante para grupo" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{estudianteXGrupoBean.listaEstudianteXGrupo}" var="estudianteXGrupo" itemLabel="#{estudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerNombre} #{estudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerApellido}" itemValue="#{estudianteXGrupo.tblEstudianteXInstitucion.segUsuario.inCodigo}" />
					</p:selectOneMenu>
					
				</p:panelGrid>
<br/>		
				<p:dataTable value="#{notaXEstudianteGrupoBean.listaNotaXEstudianteGrupo}" var="notaXEstudianteGrupo" editable="true" sortMode="multiple" 
						id="idTablaNotaXEstudianteGrupo" emptyMessage="No existen notas de estudiante por grupo para mostrar" rows="5" paginator="true"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
                         rowsPerPageTemplate="5,10,15">
				
				<f:facet name="header">
			        Lista de notas de estudiante por Grupo
			 
			        <p:commandButton id="toggler" type="button" value="Columnas" style="float:right" icon="ui-icon-calculator" />
			        <p:columnToggler datasource="idTablaNotaXEstudianteGrupo" trigger="toggler" />
			    </f:facet>
				
				<f:facet name="{Exporters}">
		            <h:commandLink>
		                <p:graphicImage value="/imagenes/excel.ico" width="24"/>
		                <p:dataExporter type="xls" target="idTablaNotaXEstudianteGrupo" fileName="notaXEstudianteGrupos" pageOnly="true"/>
		            </h:commandLink>
		 
		            <h:commandLink>
		                <p:graphicImage value="/imagenes/pdf.png" width="24"/>
		                <p:dataExporter type="pdf" target="idTablaNotaXEstudianteGrupo" fileName="notaXEstudianteGrupos" encoding="utf8"/>
		            </h:commandLink>
		        </f:facet>
		        
				<!-- <p:ajax event="rowEdit" listener="#{notaXEstudianteGrupoBean.onRowEdit}"/>
     			<p:ajax event="rowEditCancel" listener="#{notaXEstudianteGrupoBean.onRowCancel}"/>
  -->
					<p:column headerText="Código" sortBy="#{notaXEstudianteGrupo.inCodigo}" id="codigo" width="80" filterBy="">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{notaXEstudianteGrupo.inCodigo}" /></f:facet>
			               <f:facet name="input"><p:inputText value="#{notaXEstudianteGrupo.inCodigo}" style="width:100%"/></f:facet>
			           </p:cellEditor>
					</p:column>
					
					<p:column headerText="Materia">
						<h:outputText value="#{notaXEstudianteGrupo.tblNotaXGrupo.tblGrupo.tblMateriaXPensum.tblMateria.nvNombre}" />
					</p:column>	
					
					<p:column headerText="Tipo nota">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{notaXEstudianteGrupo.tblNotaXGrupo.nvDescripcion}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itCodigoTipoNota" value="#{notaXEstudianteGrupoBean.notaXEstudianteGrupo.tblNotaXGrupo.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									
									<f:selectItems value="#{notaXGrupoBean.listaNotaXGrupo}" var="notaXGrupo" itemLabel="#{notaXGrupo.nvDescripcion}" itemValue="#{notaXGrupo.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
					
					<p:column headerText="Estudiante">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{notaXEstudianteGrupo.tblEstudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerNombre} #{notaXEstudianteGrupo.tblEstudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerApellido}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itCodigoEstudiante" value="#{notaXEstudianteGrupoBean.notaXEstudianteGrupo.tblEstudianteXGrupo.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									<f:selectItems value="#{estudianteXGrupoBean.listaEstudianteXGrupo}" var="estudianteXGrupo" itemLabel="#{estudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerNombre} #{estudianteXGrupo.tblEstudianteXInstitucion.segUsuario.nvPrimerApellido}" itemValue="#{estudianteXGrupo.tblEstudianteXInstitucion.segUsuario.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
					
					<p:column headerText="Número Sesión">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{notaXEstudianteGrupo.tblSesion.inSesion}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itSesion" value="#{notaXEstudianteGrupoBean.notaXEstudianteGrupo.tblSesion.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									<f:selectItems value="#{sesionBean.listaSesion}" var="sesion" itemLabel="#{sesion.inSesion}" itemValue="#{sesion.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
		           
					<p:column headerText="Nota" sortBy="#{notaXEstudianteGrupo.nuNota}" id="nota" filterBy="">
						<p:cellEditor>
					        <f:facet name="output"><h:outputText value="#{notaXEstudianteGrupo.nuNota}" /></f:facet>
					        <f:facet name="input"><p:spinner value="#{notaXEstudianteGrupo.nuNota}" stepFactor="0.1" style="width:100%"/></f:facet>
				        </p:cellEditor>
					</p:column>
					
					<p:column headerText="Porcentaje" sortBy="#{notaXEstudianteGrupo.tblNotaXGrupo.inPorcentaje}" id="porcentaje" filterBy="">
						<p:cellEditor>
					        <f:facet name="output"><h:outputText value="#{notaXEstudianteGrupo.tblNotaXGrupo.inPorcentaje}" /></f:facet>
					        <f:facet name="input"><p:spinner value="#{notaXEstudianteGrupo.tblNotaXGrupo.inPorcentaje}" stepFactor="0.1" style="width:100%"/></f:facet>
				        </p:cellEditor>
					</p:column>
					
					<p:column headerText="Fecha registro" sortBy="#{notaXEstudianteGrupo.daFechaRegistro}" filterBy="">
					        <h:outputText value="#{notaXEstudianteGrupo.daFechaRegistro}" />
					</p:column>
					
					<p:column headerText="Fecha registro" sortBy="#{notaXEstudianteGrupo.daFechaRegistro}" filterBy="">
					        <h:outputText value="#{notaXEstudianteGrupo.daFechaRegistro}">
					        
					        </h:outputText>
					        
					</p:column>
					
					<p:column headerText="NotaPorcentual" sortBy="" filterBy="" >
					        <h:outputText value="#{notaXEstudianteGrupo.nuNota * notaXEstudianteGrupo.tblNotaXGrupo.inPorcentaje/100}" />
					</p:column>
					
						<p:columnGroup type="footer">
				            <p:row>
				                <p:column colspan="9" style="text-align:right" footerText="Nota acumulada:" />
				                <p:column footerText="#{notaXEstudianteGrupoBean}" />
				            </p:row>
				        </p:columnGroup>

					<!-- Filtrar Fecha
					<f:facet name="filter">
					    <p:calendar  pattern="dd/MM/yyyy">
					        <p:ajax event="dateSelect"  oncomplete="PF('').filter()"/>
					    </p:calendar>
					</f:facet>		-->
					
					<p:column style="width:32px" exportable="false" width="10">
			           <p:rowEditor />
			       </p:column>
					
				</p:dataTable>
				
				<!-- 
				<p:dataTable value="#{notaXEstudianteGrupoBean.listaNotaXEstudianteGrupo}" var="nota">
				
					<p:columnGroup type="header">
			            <p:row>
			                <p:column rowspan="2" headerText="Estudiante" />
			                <p:column rowspan="2" headerText="Materia" />
			                <p:column colspan="#{notaXEstudianteGrupoBean.sizeColumn}" headerText="Tipos notas" />
			            </p:row>
			           	<p:row>
			                <ui:repeat value="#{notaXEstudianteGrupoBean.listaNotaXEstudianteGrupo}" var="year">
			                    <p:column headerText="#{year.tblNotaXGrupo.tblTipoNota.nvNombre} (#{year.tblNotaXGrupo.inPorcentaje}%)"/>
			                </ui:repeat>
			            </p:row>
			        </p:columnGroup>
			        
			        <p:column>
			            <h:outputText value="#{nota.tblEstudianteXGrupo.tblEstudiante.nvPrimerNombre} #{nota.tblEstudianteXGrupo.tblEstudiante.nvPrimerApellido}"/>
			        </p:column>
			        	
			        <p:column>
			        	<h:outputText value="#{nota.tblNotaXGrupo.tblGrupo.tblMateriaXPensum.tblMateria.nvNombre}" validatorMessage="Campo nombre inválido no debe contener caracteres especiales" ><f:validateRegex pattern="^([A-Za-z0-9 \s]{1,50}$)+" /></p:inputText>
			        </p:column>
			        
			        <p:columns  value="#{notaXEstudianteGrupoBean.listaNotaXEstudianteGrupo}" var="year">
			            <h:outputText value="#{year.nuNota}" />
			        </p:columns>
			        
				</p:dataTable> -->
		</h:form>
	</ui:define>
</ui:composition>

</html>
