<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de tipos de Identificación!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
			
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Habilitar" id="cbHabilitar" actionListener="#{usuarioBean.habilitar()}" update="idTablaPrograma" style="margin-top:5px">
				           <p:tooltip id="toItEditar" for="cbHabilitar"
								value="Botón para habilitar el usuario"
								showEffect="clip" hideEffect="explode" />
						</p:commandButton>
					</f:facet>
				</p:toolbar>
				
				<br/>
				
				<p:panelGrid>
					<h:outputLabel for="itCodigo" value="Ingrese un código: "/>
					<p:inputText id="itCodigo" value="#{programaBean.programa.inCodigo}"/>
					
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código del usuario que desea habilitar"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
				</p:panelGrid>
				
				<br/>
				
			<p:fieldset legend="Formulario datos programa" toggleable="true" toggleSpeed="500">
							
				<p:dataTable value="#{programaBean.listaPrograma}" var="programa" 
				id="idTablaPrograma" emptyMessage="No existen tipos de programa para mostrar">
				
					<p:column headerText="Código">
						<h:outputText value="#{programa.inCodigo}" />
					</p:column>
					
					<p:column headerText="Nombre">
						<h:outputText value="#{programa.nvNombre}" />
					</p:column>
					
					<p:column headerText="TipoPrograma">
						<h:outputText value="#{programa.tblTipoPrograma.nvNombre}" />
					</p:column>
					
				</p:dataTable>
			</p:fieldset>
				
		</h:form>
	</ui:define>
</ui:composition>

</html>
