<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de tipos de Identificación!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
		
		
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
			<p:fieldset legend="Formulario datos materia por pensum" toggleable="true" toggleSpeed="500">
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Habilitar" id="cbHabilitar" actionListener="#{usuarioBean.habilitar()}" update="idTablaMateriaXPensum" style="margin-top:5px">
							<p:tooltip id="toItEditar" for="cbHabilitar" value="Botón para habilitar el pensum" 
							showEffect="clip" hideEffect="explode" />
						</p:commandButton>
					</f:facet>
				</p:toolbar>
				
				<br/>
				
				<p:panelGrid>
					<h:outputLabel for="itCodigo" value="Ingrese un código"/>
					<p:inputText id="itCodigo" value="#{pensumBean.pensum.inCodigo}"/>
					
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de la materia que desea habilitar"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
				</p:panelGrid>
				
				<br/>	
			</p:fieldset>
			
			<p:fieldset legend="Formulario datos materia Pensum" toggleable="true" toggleSpeed="500">
							
				<p:dataTable value="#{materiaXPensumBean.listaMateriaXPensum}" var="materiaXPensum" 
				id="idTablaMateriaXPensum" emptyMessage="No existen materias de Pensum para mostrar">
				
					<p:column headerText="Código">
						<h:outputText value="#{materiaXPensum.inCodigo}" />
					</p:column>
					
					<p:column headerText="Pensum por Semestre">
						<h:outputText value="#{materiaXPensum.tblPensumXSemestre.tblPensum.nvNombre} #{materiaXPensum.tblPensumXSemestre.tblSemestre.nvNombre}" />
					</p:column>
					
					<p:column headerText="Materia">
						<h:outputText value="#{materiaXPensum.tblMateria.nvNombre}" />
					</p:column>
					
					<p:column headerText="Créditos">
						<h:outputText value="#{materiaXPensum.inNumeroCreditos}" />
					</p:column>
					
					<p:column headerText="Materia prerequisito">
						<h:outputText value="#{materiaXPensum.tblMateriaXPensum.tblMateria.nvNombre}" />
					</p:column>
				</p:dataTable>
			</p:fieldset>
				
		</h:form>
	</ui:define>
</ui:composition>

</html>
