<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de Usuario!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
	<h:head>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
		
		<style type="text/css">
			@import "#{request.contextPath}/imagenes/css/estilo.css";
		</style>
	</h:head>
		<h:form id="form">
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Habilitar" id="cbHabilitar" actionListener="#{usuarioBean.habilitar()}" update="idTablaUsuario" style="margin-top:5px">
				           <p:tooltip id="toItEditar" for="cbHabilitar"
								value="Botón para habilitar el usuario"
								showEffect="clip" hideEffect="explode" />
						</p:commandButton>
					</f:facet>
				</p:toolbar>
				
				<br/>
				
				<p:panelGrid>
					<h:outputLabel for="itCodigo" value="Ingrese un código"/>
					<p:inputText id="itCodigo" value="#{usuarioBean.usuario.inCodigo}"/>
					
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código del usuario que desea habilitar"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
				</p:panelGrid>
				
				<br/>
				
				<p:dataTable value="#{usuarioBean.listaUsuario3}" var="usuario" editable="true" sortMode="multiple"
						id="idTablaUsuario" emptyMessage="No existen usuario para mostrar" rows="15" paginator="true"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
                         rowsPerPageTemplate="5,10,15" >
				
					<f:facet name="header">
				        Lista de usuarios
				 
				        <p:commandButton id="toggler" type="button" value="Columnas" style="float:right" icon="ui-icon-calculator" />
				        <p:columnToggler datasource="idTablaUsuario" trigger="toggler" />
				    </f:facet>
					
					<f:facet name="{Exporters}">
			            <h:commandLink>
			                <p:graphicImage value="/imagenes/excel.ico" width="24"/>
			                <p:dataExporter type="xls" target="idTablaUsuario" fileName="usuarios" pageOnly="true"/>
			            </h:commandLink>
			 
			            <h:commandLink>
			                <p:graphicImage value="/imagenes/pdf.png" width="24"/>
			                <p:dataExporter type="pdf" target="idTablaUsuario" fileName="usuarios" encoding="utf8"/>
			            </h:commandLink>
			        </f:facet>
			             		
						<p:column headerText="Código" sortBy="#{usuario.inCodigo}" width="80" filterBy="">
							<p:cellEditor>
				               <f:facet name="output"><h:outputText value="#{usuario.inCodigo}" /></f:facet>
				               <f:facet name="input"><p:inputText value="#{usuario.inCodigo}" style="width:100%"/></f:facet>
				           </p:cellEditor>
						</p:column>
						
						<p:column headerText="Tipo Identificación">
							<p:cellEditor>
				               <f:facet name="output"><h:outputText value="#{usuario.segTipoIdentificacion.nvNombre}" /></f:facet>
				               <f:facet name="input">
									<p:selectOneMenu id="itCodigoTipoIdentificacion" value="#{usuarioBean.usuario.segTipoIdentificacion.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
										
										<f:selectItems value="#{tipoIdentificacionBean.listaTiposIdentificacion}" var="tipoId" itemLabel="#{tipoId.nvNombre}" itemValue="#{tipoId.inCodigo}" />
									</p:selectOneMenu>
				               </f:facet>
				           </p:cellEditor>
			           </p:column>
						
						<p:column headerText="Número Identificación" sortBy="#{usuario.nvNumeroIdentificacion}" filterBy="">
							<p:cellEditor>
						        <f:facet name="output"><h:outputText value="#{usuario.nvNumeroIdentificacion}" /></f:facet>
						        <f:facet name="input"><p:inputText id="idNvNombreUsuario" value="#{usuario.nvNumeroIdentificacion}" style="width:100%"/></f:facet>
					        </p:cellEditor>
						</p:column>
						
						<p:column headerText="Primer Nombre" sortBy="#{usuario.nvPrimerNombre}" filterBy="">
							<p:cellEditor>
						        <f:facet name="output"><h:outputText value="#{usuario.nvPrimerNombre}" /></f:facet>
						        <f:facet name="input"><p:inputText value="#{usuario.nvPrimerNombre}" style="width:100%"/></f:facet>
					        </p:cellEditor>
						</p:column>
						
						<p:column headerText="Segundo Nombre" sortBy="#{usuario.nvSegundoNombre}" filterBy="">
							<p:cellEditor>
						        <f:facet name="output"><h:outputText value="#{usuario.nvSegundoNombre}" /></f:facet>
						        <f:facet name="input"><p:inputText value="#{usuario.nvSegundoNombre}" style="width:100%"/></f:facet>
					        </p:cellEditor>
						</p:column>
						
						<p:column headerText="Primer Apellido" sortBy="#{usuario.nvPrimerApellido}" filterBy="">
							<p:cellEditor>
						        <f:facet name="output"><h:outputText value="#{usuario.nvPrimerApellido}" /></f:facet>
						        <f:facet name="input"><p:inputText value="#{usuario.nvPrimerApellido}" style="width:100%"/></f:facet>
					        </p:cellEditor>
						</p:column>
						
						<p:column headerText="Segundo Apellido" sortBy="#{usuario.nvSegundoApellido}" filterBy="">
							<p:cellEditor>
						        <f:facet name="output"><h:outputText value="#{usuario.nvSegundoApellido}" /></f:facet>
						        <f:facet name="input"><p:inputText value="#{usuario.nvSegundoApellido}" style="width:100%"/></f:facet>
					        </p:cellEditor>
						</p:column>
						
						<p:column headerText="Nombre Usuario" sortBy="#{usuario.nvNombreUsuario}" filterBy="">
							<p:cellEditor>
						        <f:facet name="output"><h:outputText value="#{usuario.nvNombreUsuario}" /></f:facet>
						        <f:facet name="input"><p:inputText value="#{usuario.nvNombreUsuario}" style="width:100%"/></f:facet>
					        </p:cellEditor>
						</p:column>
						
						<p:column headerText="Correo" sortBy="#{usuario.nvCorreoElectronico}" width="200" filterBy="">
							<p:cellEditor>
						        <f:facet name="output"><h:outputText value="#{usuario.nvCorreoElectronico}" /></f:facet>
						        <f:facet name="input"><p:inputText value="#{usuario.nvCorreoElectronico}" style="width:100%"/></f:facet>
					        </p:cellEditor>
						</p:column>
					
				</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>

</html>
