<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de perfil!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
	<p:tabView>
        <p:tab title="Perfil" id="tab">
                
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
			<p:fieldset legend="Formulario datos perfil" toggleable="true" toggleSpeed="500">
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar" action="#{perfilBean.limpiar()}" update="idLimpiar"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{perfilBean.crear()}" />
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{perfilBean.actualizar()}" />
						<p:commandButton value="Inhabilitar" id="cbInhabilitar" action="#{perfilBean.inhabilitar()}" />
						<p:commandButton value="Consultar" id="cbConsultar" action="#{perfilBean.consultar()}"  oncomplete="PF('perfil').show()"/>
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiar">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{perfilBean.perfil.inCodigo}"/>
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de tipo de perfil"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
					<p:outputLabel for="itCodigoAplicacion" value="Aplicación" />
					<p:selectOneMenu id="itCodigoAplicacion" value="#{perfilBean.perfil.segAplicacion.inCodigo}" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar aplicación" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{aplicacionBean.listaAplicacion}" var="aplicacion" itemLabel="#{aplicacion.nvNombre}" itemValue="#{aplicacion.inCodigo}" />
					</p:selectOneMenu>
										
					<h:outputLabel for="itNombre" value="#{mensajes.LABEL_NOMBRE_PERFIL} "/>
					<p:inputText id="itNombre" value="#{perfilBean.perfil.nvNombre}" validatorMessage="Campo nombre inválido no debe contener caracteres especiales" ><f:validateRegex pattern="^([A-Za-z0-9 \s]{1,50}$)+" /></p:inputText>
					<p:tooltip for="toItNombre"
						value="Campo para ingresar el nombre de perfil"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItNombre" for="itNombre"/>
					
					

				</p:panelGrid>
			</p:fieldset>
			</h:form>				
			<p:dialog showEffect="fade" hideEffect="explode" widgetVar="perfil"  closeOnEscape="true" modal="true" appendTo="@(body)">	
				<h:form id="idForm">
					<p:dataTable value="#{perfilBean.listaPerfil}" var="consultaPerfiles"
						id="idTablaPerfil" emptyMessage="No existen perfiles para mostrar">
						
							<p:column headerText="Código">
								<h:outputText value="#{consultaPerfiles.inCodigo}" />
							</p:column>
							
							<p:column headerText="Nombre">
								<h:outputText value="#{consultaPerfiles.nvNombre}" />
							</p:column>
							
							<p:column headerText="Aplicacion">
								<h:outputText value="#{consultaPerfiles.segAplicacion.nvNombre}" />
							</p:column>
							
					</p:dataTable>
				</h:form>
			</p:dialog>
		
		 </p:tab>
        <p:tab title="Recurso">
            <h:head>
				<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
			</h:head>
		<h:form id="formRecurso">
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar"  action="#{recursoBean.limpiar()}" update="idLimpiarCampos"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{recursoBean.crear()}" update="idTablaRecurso" style="margin-top:5px">
						<p:tooltip id="toItCrear" for="cbCrear"
							value="Botón utilizado para registrar la nueva información ingresada el formulario"
							showEffect="clip" hideEffect="explode" />
						</p:commandButton>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{recursoBean.actualizar()}" update="idTablaRecurso" oncomplete="PF('usuario').show()" style="margin-top:5px" />
						<p:commandButton value="Inhabilitar" id="cbInhabilitar" action="#{recursoBean.inhabilitar()}" update="idTablaRecurso"/>
						<p:commandButton value="Consultar" id="cbConsultar" action="#{recursoBean.consultar()}" update="idTablaRecurso" oncomplete="PF('usuario').show()" style="margin-top:5px"/>
					
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiarCampos">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{recursoBean.recurso.inCodigo}"/>
					
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
										
					<p:outputLabel for="itCodigoAplicacion" value="Aplicación: " />
					<p:selectOneMenu id="itCodigoAplicacion" value="#{recursoBean.recurso.segAplicacion.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar un Aplicación" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{aplicacionBean.listaAplicacion}" var="aplicacion" itemLabel="#{aplicacion.nvNombre}" itemValue="#{aplicacion.inCodigo}" />
						
					</p:selectOneMenu>
										
					<h:outputLabel for="itNombreRecurso" value="Nombre del Recurso: "/>
					<p:inputText id="itNombreRecurso" value="#{recursoBean.recurso.nvNombre}" validatorMessage="Campo nombre inválido no debe contener caracteres especiales" ><f:validateRegex pattern="^([A-Za-z0-9 \s]{1,50}$)+" /></p:inputText>
					<p:tooltip for="itNombreRecurso"
						value="Campo para ingresar el nombre del recurso"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItNombreRecurso" for="itNombreRecurso"/>
					
				
					<h:outputLabel for="itUrl" value="Ubicación del Recurso: "/>
					<p:inputTextarea id="itUrl" value="#{recursoBean.recurso.nvUrl}"/>
					<p:tooltip for="itUrl"
						value="Campo para ingresar la Ubicación del recurso"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItUrl" for="itUrl"/>
					
					<p:outputLabel for="itTipoRecurso" value="Tipo de Recurso: " />
					<p:selectOneMenu id="itTipoRecurso" value="#{recursoBean.recurso.segTipoRecurso.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar un Tipo de Recurso" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{tipoRecursoBean.listaTipoRecurso}" var="tipoRecurso" itemLabel="#{tipoRecurso.nvNombre}" itemValue="#{tipoRecurso.inCodigo}" />
					</p:selectOneMenu>
				</p:panelGrid>
		
     			<p:dialog showEffect="fade" hideEffect="fade" widgetVar="recurso" closeOnEscape="true" modal="true" appendTo="@(body)">		
				
				<p:dataTable value="#{recursoBean.listaRecurso}" var="recurso" editable="true" sortMode="multiple" 
						id="idTablaRecurso" emptyMessage="No existen recursos para mostrar" rows="5" paginator="true"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
                         rowsPerPageTemplate="5,10,15" >
				
				<f:facet name="header">
			        Lista de recurso
			 
			        <p:commandButton id="toggler" type="button" value="Columnas" style="float:right" icon="ui-icon-calculator" />
			        <p:columnToggler datasource="idTablaRecurso" trigger="toggler" />
			    </f:facet>
				
				<f:facet name="{Exporters}">
		            <h:commandLink>
		                <p:graphicImage value="/imagenes/excel.ico" width="24"/>
		                <p:dataExporter type="xls" target="idTablaRecurso" fileName="recursos" pageOnly="true"/>
		            </h:commandLink>
		 
		            <h:commandLink>
		                <p:graphicImage value="/imagenes/pdf.png" width="24"/>
		                <p:dataExporter type="pdf" target="idTablaRecurso" fileName="recursos" encoding="utf8"/>
		            </h:commandLink>
		        </f:facet>
		        
				<p:ajax event="rowEdit" listener="#{usuarioBean.onRowEdit}"/>
     			<p:ajax event="rowEditCancel" listener="#{usuarioBean.onRowCancel}"/>
 
					<p:column headerText="Código" sortBy="#{recurso.inCodigo}" width="80" filterBy="">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{recurso.inCodigo}" /></f:facet>
			               <f:facet name="input"><p:inputText value="#{recurso.inCodigo}" style="width:100%"/></f:facet>
			           </p:cellEditor>
					</p:column>
					
					<p:column headerText="Recurso padre">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{recurso.inCodigo}" /></f:facet>
			               <f:facet name="input"><p:inputText value="#{recurso.inCodigo}" style="width:100%"/></f:facet>
			           </p:cellEditor>
		           </p:column>
					
					<p:column headerText="Aplicación">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{recurso.segAplicacion.nvNombre}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itCodigoAplicación" value="#{recurso.segAplicacion.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									
									<f:selectItems value="#{aplicacionBean.listaAplicacion}" var="aplicacion" itemLabel="#{aplicacion.nvNombre}" itemValue="#{aplicacion.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
					
					<p:column headerText="Nombre recurso" sortBy="#{recurso.nvNombre}" filterBy="">
						<p:cellEditor>
					        <f:facet name="output"><h:outputText value="#{recurso.nvNombre}" /></f:facet>
					        <f:facet name="input"><p:inputText id="idNvNombreUsuario" value="#{recurso.nvNombre}" style="width:100%"/></f:facet>
				        </p:cellEditor>
					</p:column>
					
					<p:column headerText="Ubicación recurso" sortBy="#{recurso.nvUrl}" filterBy="">
						<p:cellEditor>
					        <f:facet name="output"><h:outputText value="#{recurso.nvUrl}" /></f:facet>
					        <f:facet name="input"><p:inputText value="#{recurso.nvUrl}" style="width:100%"/></f:facet>
				        </p:cellEditor>
					</p:column>
					
					<!-- <p:column headerText="Tipo Recurso">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{recurso.segTipoRecursoByInCodigoTipoRecurso.nvNombre}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itCodigoTipoRecurso" value="#{recurso.segTipoRecursoByInCodigoTipoRecurso.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									
									<f:selectItems value="#{tipoRecursoBean.listaTipoRecurso}" var="recurso" itemLabel="#{recurso.nvNombre}" itemValue="#{recurso.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column> -->
					
					<p:column style="width:32px" exportable="false" width="10">
			           <p:rowEditor />
			       	</p:column>
				
				</p:dataTable>
				
		</p:dialog>
		</h:form>
        </p:tab>
       
    </p:tabView>
	</ui:define>
</ui:composition>

</html>
