<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de tipos de Identificación!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
			<p:fieldset legend="Formulario datos pregunta" toggleable="true" toggleSpeed="500">
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar" action="#{preguntaBean.limpiar()}" update="idLimpiar"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{preguntaBean.crear()}" update="idTablaPregunta"/>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{preguntaBean.actualizar()}" update="idTablaPregunta"/>
						<p:commandButton value="Inhabilitar" id="cbInhabilitar" action="#{preguntaBean.inhabilitar()}" update="idTablaPregunta"/>
						<p:commandButton value="Consultar" id="cbConsultar" action="#{preguntaBean.consultar()}" update="idTablaPregunta"/>
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiar">
					<h:outputLabel for="itCodigo" value="#{mensajes.LABEL_CODIGO_TIPO_IDENTIFICACION}"/>
					<p:inputText id="itCodigo" value="#{preguntaBean.pregunta.inCodigo}"/>
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de tipo de identificación"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
					<h:outputLabel for="itNombre" value="#{mensajes.LABEL_NOMBRE} "/>
					<p:inputTextarea id="itNombre" value="#{preguntaBean.pregunta.nvDescripcion}"/>
					<p:tooltip for="toItNombre"
						value="Campo para ingresar el nombre de tipo de identificación"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItNombre" for="itNombre"/>
					
				</p:panelGrid>
			</p:fieldset>
			
			<p:fieldset legend="Formulario datos pregunta" toggleable="true" toggleSpeed="500">
							
				<p:dataTable value="#{pregunta.listaPregunta}" var="pregunta" 
				id="idTablaPregunta" emptyMessage="No existen tipos de identificacion para mostrar">
				
					<p:column headerText="Código">
						<h:outputText value="#{pregunta.inCodigo}" />
					</p:column>
					
					<p:column headerText="Nombre">
						<h:outputText value="#{pregunta.nvNombre}" />
					</p:column>
					
					<p:column headerText="Fecha creación">
						<h:outputText value="#{pregunta.dtFechaCreacion}" />
					</p:column>
					
					<p:column headerText="Usuario creación">
						<h:outputText value="#{pregunta.segUsuarioByInCodigoUsuarioCreacion.nvNombreUsuario}" />
					</p:column>
					
					<p:column headerText="Fecha actualización">
						<h:outputText value="#{pregunta.dtFechaModificacion}" />
					</p:column>
					
					<p:column headerText="Usuario actualización">
						<h:outputText value="#{pregunta.segUsuarioByInCodigoUsuarioModificacion.nvNombreUsuario}" />
					</p:column>
					
					<p:column headerText="Fecha eliminación">
						<h:outputText value="#{pregunta.dtFechaEliminacion}" />
					</p:column>
					
					<p:column headerText="Usuario eliminación">
						<h:outputText value="#{pregunta.segUsuarioByInCodigoUsuarioEliminacion.nvNombreUsuario}" />
					</p:column>
					
				</p:dataTable>
			</p:fieldset>
				
		</h:form>
	</ui:define>
</ui:composition>

</html>
