<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de Usuario!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
	<h:head>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
	</h:head>
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar"  action="#{recursoBean.limpiar()}" update="idLimpiarCampos"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{recursoBean.crear()}" update="form:idTablaRecurso" style="margin-top:5px">
						<p:tooltip id="toItCrear" for="cbCrear"
							value="Botón utilizado para registrar la nueva información ingresada el formulario"
							showEffect="clip" hideEffect="explode" />
						</p:commandButton>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{recursoBean.actualizar()}" update="form:idTablaRecurso" oncomplete="PF('recurso').show()" style="margin-top:5px" />
						<p:commandButton value="Inhabilitar" id="cbInhabilitar" update="idForm2:idTablaRecurso2" oncomplete="PF('inhabilitarRecurso').show()"/>
						<p:commandButton value="Consultar" id="cbConsultar" action="#{recursoBean.consultar()}" update="form:idTablaRecurso" oncomplete="PF('recurso').show()" style="margin-top:5px"/>
					
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiarCampos">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{recursoBean.recurso.inCodigo}"/>
					
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
					<p:outputLabel for="itCodigoAplicacion" value="Aplicación: " />
					<p:selectOneMenu id="itCodigoAplicacion" value="#{recursoBean.recurso.segAplicacion.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar un Aplicación" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{aplicacionBean.listaAplicacion}" var="aplicacion" itemLabel="#{aplicacion.nvNombre}" itemValue="#{aplicacion.inCodigo}" />
						
					</p:selectOneMenu>
										
					<h:outputLabel for="itNombreRecurso" value="Nombre del Recurso: "/>
					<p:inputText id="itNombreRecurso" value="#{recursoBean.recurso.nvNombre}" validatorMessage="Campo nombre inválido no debe contener caracteres especiales" >
						<f:validateRegex pattern="^([A-Za-z0-9áéíóúÁÉÍÓÚ \s]{1,50}$)*" />
					</p:inputText>
					<p:tooltip for="itNombreRecurso"
						value="Campo para ingresar el nombre del recurso"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItNombreRecurso" for="itNombreRecurso"/>
					
				
					<h:outputLabel for="itUrl" value="Ubicación del Recurso: "/>
					<p:inputTextarea id="itUrl" value="#{recursoBean.recurso.nvUrl}"/>
					<p:tooltip for="itUrl"
						value="Campo para ingresar la Ubicación del recurso"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItUrl" for="itUrl"/>
					
					<p:outputLabel for="itTipoRecurso" value="Tipo de Recurso: " />
					<p:selectOneMenu id="itTipoRecurso" value="#{recursoBean.recurso.segTipoRecurso.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar un Tipo de Recurso" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{tipoRecursoBean.listaTipoRecurso}" var="tipoRecurso" itemLabel="#{tipoRecurso.nvNombre}" itemValue="#{tipoRecurso.inCodigo}" />
					</p:selectOneMenu>
				</p:panelGrid>
			</h:form>
		
		<p:dialog showEffect="fade" hideEffect="fade" widgetVar="inhabilitarRecurso" closeOnEscape="true" modal="true" appendTo="@(body)" responsive="true">		
			
				<h:form>
				
						<br/>
						
						<p:toolbar>
							<f:facet name="right">
								<p:commandButton value="Inhabilitar" id="cbInhabilitar" action="#{recursoBean.inhabilitar()}" update="idForm2:idTablaRecurso2">
									<p:confirm>
										<p:confirm header="Confirmación" message="Estás seguro de qué quiere inhabilitar el recurso?" icon="ui-icon-alert"/>
									</p:confirm>
								</p:commandButton>
							
							</f:facet>
						</p:toolbar>
						
						<br/>
						
					    <h:outputLabel for="itCodigo" value="Código: "/>
						<p:inputText id="itCodigo" type="" value="#{recursoBean.recurso.inCodigo}"/>
						<p:tooltip for="toItCodigo"
							value="Campo para ingresar el código de recurso"
							hideEffect="explode" showEffect="clip"/>
						<p:message id="toItCodigo" for="itCodigo"/>
						
						<br/>
				</h:form>
			
			<h:form id="idForm2">
				<p:dataTable value="#{recursoBean.listaRecurso2}" var="recurso" editable="true" sortMode="multiple" scrollable="true" scrollHeight="360"
						id="idTablaRecurso2" emptyMessage="No existen recursos para mostrar" rows="10" paginator="true"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
                         rowsPerPageTemplate="10,15,20,25,30" >
				
				<f:facet name="header">
			        Lista de recurso
			 
			        <p:commandButton id="toggler" type="button" value="Columnas" style="float:right" icon="ui-icon-calculator" />
			        <p:columnToggler datasource="idTablaRecurso2" trigger="toggler" />
			    </f:facet>
				
				<f:facet name="{Exporters}">
		            <h:commandLink>
		                <p:graphicImage value="/imagenes/excel.ico" width="24"/>
		                <p:dataExporter type="xls" target="idTablaRecurso2" fileName="recursos" pageOnly="true"/>
		            </h:commandLink>
		 
		            <h:commandLink>
		                <p:graphicImage value="/imagenes/pdf.png" width="24"/>
		                <p:dataExporter type="pdf" target="idTablaRecurso2" fileName="recursos" encoding="utf8"/>
		            </h:commandLink>
		        </f:facet>
		        
				<p:ajax event="rowEdit" listener="#{recursoBean.onRowEdit}"/>
     			<p:ajax event="rowEditCancel" listener="#{recursoBean.onRowCancel}"/>
 
					<p:column headerText="Código" sortBy="#{recurso.inCodigo}" width="80" filterBy="">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{recurso.inCodigo}" /></f:facet>
			               <f:facet name="input"><p:inputText value="#{recurso.inCodigo}" style="width:100%"/></f:facet>
			           </p:cellEditor>
					</p:column>
					
					<p:column headerText="Aplicación">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{recurso.segAplicacion.nvNombre}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itCodigoAplicacion" value="#{recurso.segAplicacion.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									
									<f:selectItems value="#{aplicacionBean.listaAplicacion}" var="aplicacion" itemLabel="#{aplicacion.nvNombre}" itemValue="#{aplicacion.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
					
					<p:column headerText="Nombre recurso" sortBy="#{recurso.nvNombre}" filterBy="">
						<p:cellEditor>
					        <f:facet name="output"><h:outputText value="#{recurso.nvNombre}" /></f:facet>
					        <f:facet name="input"><p:inputText id="idNvNombreUsuario" value="#{recurso.nvNombre}" style="width:100%"/></f:facet>
				        </p:cellEditor>
					</p:column>
					
					<p:column headerText="Ubicación recurso" sortBy="#{recurso.nvUrl}" filterBy=""  resizable="true">
						<p:cellEditor>
					        <f:facet name="output"><h:outputText value="#{recurso.nvUrl}" /></f:facet>
					        <f:facet name="input"><p:inputText value="#{recurso.nvUrl}" style="width:100%"/></f:facet>
				        </p:cellEditor>
					</p:column>
					
					<p:column headerText="Tipo Recurso">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{recurso.segTipoRecurso.nvNombre}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itCodigoTipoRecurso" value="#{recurso.segTipoRecurso.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									
									<f:selectItems value="#{tipoRecursoBean.listaTipoRecurso}" var="tipoRecurso" itemLabel="#{tipoRecurso.nvNombre}" itemValue="#{tipoRecurso.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
					
					<p:column style="width:32px" exportable="false" width="10">
			           <p:rowEditor />
			       	</p:column>
				
				</p:dataTable>
			</h:form>	
		</p:dialog>
		
		<p:dialog showEffect="fade" hideEffect="fade" widgetVar="recurso" closeOnEscape="true" modal="true" appendTo="@(body)" responsive="true">		
			<h:form id="form">
				<p:dataTable value="#{recursoBean.listaRecurso2}" var="recurso" editable="true" sortMode="multiple" scrollable="true" scrollHeight="100"
						id="idTablaRecurso" emptyMessage="No existen recursos para mostrar" rows="10" paginator="true"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
                         rowsPerPageTemplate="10,15,20,25,30" >
				
				<f:facet name="header">
			        Lista de recurso
			 
			        <p:commandButton id="toggler" type="button" value="Columnas" style="float:right" icon="ui-icon-calculator" />
			        <p:columnToggler datasource="idTablaRecurso" trigger="toggler" />
			    </f:facet>
				
				<f:facet name="{Exporters}">
		            <h:commandLink>
		                <p:graphicImage value="/imagenes/excel.ico" width="24"/>
		                <p:dataExporter type="xls" target="idTablaRecurso" fileName="recursos" pageOnly="true"/>
		            </h:commandLink>
		 
		            <h:commandLink>
		                <p:graphicImage value="/imagenes/pdf.png" width="24"/>
		                <p:dataExporter type="pdf" target="idTablaRecurso" fileName="recursos" encoding="utf8"/>
		            </h:commandLink>
		        </f:facet>
		        
				<p:ajax event="rowEdit" listener="#{recursoBean.onRowEdit}"/>
     			<p:ajax event="rowEditCancel" listener="#{recursoBean.onRowCancel}"/>
 
					<p:column headerText="Código" sortBy="#{recurso.inCodigo}" width="80" filterBy="">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{recurso.inCodigo}" /></f:facet>
			               <f:facet name="input"><p:inputText value="#{recurso.inCodigo}" style="width:100%"/></f:facet>
			           </p:cellEditor>
					</p:column>
					
					<p:column headerText="Aplicación">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{recurso.segAplicacion.nvNombre}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itCodigoAplicacion" value="#{recurso.segAplicacion.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									
									<f:selectItems value="#{aplicacionBean.listaAplicacion}" var="aplicacion" itemLabel="#{aplicacion.nvNombre}" itemValue="#{aplicacion.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
					
					<p:column headerText="Nombre recurso" sortBy="#{recurso.nvNombre}" filterBy="">
						<p:cellEditor>
					        <f:facet name="output"><h:outputText value="#{recurso.nvNombre}" /></f:facet>
					        <f:facet name="input"><p:inputText id="idNvNombreUsuario" value="#{recurso.nvNombre}" style="width:100%"/></f:facet>
				        </p:cellEditor>
					</p:column>
					
					<p:column headerText="Ubicación recurso" sortBy="#{recurso.nvUrl}" filterBy=""  resizable="true">
						<p:cellEditor>
					        <f:facet name="output"><h:outputText value="#{recurso.nvUrl}" /></f:facet>
					        <f:facet name="input"><p:inputText value="#{recurso.nvUrl}" style="width:100%"/></f:facet>
				        </p:cellEditor>
					</p:column>
					
					<p:column headerText="Tipo Recurso">
						<p:cellEditor>
			               <f:facet name="output"><h:outputText value="#{recurso.segTipoRecurso.nvNombre}" /></f:facet>
			               <f:facet name="input">
								<p:selectOneMenu id="itCodigoTipoRecurso" value="#{recurso.segTipoRecurso.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
									
									<f:selectItems value="#{tipoRecursoBean.listaTipoRecurso}" var="tipoRecurso" itemLabel="#{tipoRecurso.nvNombre}" itemValue="#{tipoRecurso.inCodigo}" />
								</p:selectOneMenu>
			               </f:facet>
			           </p:cellEditor>
		           </p:column>
					
					<p:column style="width:32px" exportable="false" width="10">
			           <p:rowEditor />
			       	</p:column>
				
				</p:dataTable>
			</h:form>
			
			<p:confirmDialog global="true" message="Está seguro de inhabilitar?" widgetVar="confirm" closeOnEscape="true" appendToBody="true" closable="true">
			    	<p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
			        <p:commandButton value="No" type="button" onclick="myDialog.hide()" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
				</p:confirmDialog>	
		</p:dialog>
	</ui:define>
</ui:composition>

</html>
