<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de perfil!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
		<h:form>
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
			<p:fieldset legend="Formulario datos perfil" toggleable="true" toggleSpeed="500">
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar" action="#{recursoPerfilBean.limpiar()}" update="idLimpiar"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{recursoPerfilBean.crear()}" update="idForm:idTablaRecursoPerfil"/>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{recursoPerfilBean.actualizar()}" update="idForm:idTablaRecursoPerfil"/>
						<p:commandButton value="Inhabilitar" id="cbInhabilitar" action="#{recursoPerfilBean.inhabilitar()}" update="idForm:idTablaRecursoPerfil"/>
						<p:commandButton value="Consultar" id="cbConsultar" action="#{recursoPerfilBean.consultar()}" update="idForm:idTablaRecursoPerfil" oncomplete="PF('recursoPerfil').show()"/>
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiar">
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{recursoPerfilBean.recursoPerfil.inCodigo}"/>
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de tipo de perfil"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
					<p:outputLabel for="itCodigoRecurso" value="Recurso" />
					<p:selectOneMenu id="itCodigoRecurso" value="#{recursoPerfilBean.recursoPerfil.segRecurso.inCodigo}" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar recurso" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{recursoBean.listaRecurso}" var="recurso" itemLabel="#{recurso.nvNombre}" itemValue="#{recurso.inCodigo}" />
					</p:selectOneMenu>
										
					<p:outputLabel for="itCodigoPerfil" value="Perfil" />
					<p:selectOneMenu id="itCodigoPerfil" value="#{recursoPerfilBean.recursoPerfil.segPerfil.inCodigo}" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar perfil" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{perfilBean.listaPerfil}" var="perfil" itemLabel="#{perfil.nvNombre}" itemValue="#{perfil.inCodigo}" />
					</p:selectOneMenu>
					
					

				</p:panelGrid>
			</p:fieldset>
		</h:form>
		<p:dialog showEffect="fade" hideEffect="fade" widgetVar="recursoPerfil" closeOnEscape="true" modal="true" appendTo="@(body)">	
			<p:fieldset legend="Formulario datos recurso perfil" toggleable="true" toggleSpeed="500">
				<h:form id="idForm">	
					<p:dataTable value="#{recursoPerfilBean.listaRecursoPerfil}" var="recursoPerfil" 
					id="idTablaRecursoPerfil" emptyMessage="No existen recurso de perfil para mostrar">
					
						<p:column headerText="Código">
							<h:outputText value="#{recursoPerfil.inCodigo}" />
						</p:column>
						
						<p:column headerText="Nombre del Recurso">
							<h:outputText value="#{recursoPerfil.segRecurso.nvNombre}" />
						</p:column>
						
						<p:column headerText="Nombre del Perfil">
							<h:outputText value="#{recursoPerfil.segPerfil.nvNombre}" />
						</p:column>
						
					</p:dataTable>
				</h:form>
			</p:fieldset>
		</p:dialog>		
		
	</ui:define>
</ui:composition>

</html>
