<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de Usuario!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
	<h:body>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
		
		<style type="text/css">
			@import "#{request.contextPath}/imagenes/css/estilo.css";
		</style>
	</h:body>
		<h:form id="form">
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Enviar" id="cbCrear" action="#{mailBean.recuperarClave()}" style="margin-top:5px">
						<p:tooltip id="toItCrear" for="cbCrear"
							value="Botón utilizado para registrar la nueva información ingresada el formulario"
							showEffect="clip" hideEffect="explode" />
						</p:commandButton>
					
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiarCampos">
					
					<h:outputLabel for="itCorreo" value="Correo Electrónico del usuario: "/>
					<p:inputText id="itCorreo" requiredMessage="Por favor ingrese su correo electrónico." size="40"
					validatorMessage="Correo inválido debe ser del tipo example@example.com" 
					value="#{mailBean.usuario.nvCorreoElectronico}">
					<f:validateRegex
						pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
					</p:inputText>
					<p:tooltip for="itCorreo"
						value="Campo para ingresar el correo electrónico de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCorreo" for="itCorreo"/>
					
				</p:panelGrid>
		</h:form>	
		
	</ui:define>
</ui:composition>

</html>
