<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de tipos de Identificación!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
		<h:form id="identificacion">
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
			<p:fieldset legend="Formulario datos tipo identificación" toggleable="true" toggleSpeed="500">
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar" action="#{tipoIdentificacionBean.limpiar()}" update="idLimpiar"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{tipoIdentificacionBean.crear()}" update="idTablaTiposIdentificacion" oncomplete="PF('tipoIdentificacion').show()" style="margin-top:5px"/>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{tipoIdentificacionBean.actualizar()}" update="idTablaTiposIdentificacion" oncomplete="PF('tipoIdentificacion').show()" style="margin-top:5px"/>
						<p:commandButton value="Inhabilitar" id="cbInhabilitar" action="#{tipoIdentificacionBean.inhabilitar()}" update="idTablaTiposIdentificacion" oncomplete="PF('tipoIdentificacion').show()" style="margin-top:5px"/>
						<p:commandButton value="Consultar" id="cbConsultar" action="#{tipoIdentificacionBean.consultar()}" update="idTablaTiposIdentificacion" oncomplete="PF('tipoIdentificacion').show()" style="margin-top:5px" />
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiar">
				
					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{tipoIdentificacionBean.tipoIdentificacion.inCodigo}"/>
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de tipo de identificación"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
					<h:outputLabel for="itNombre" value="#{mensajes.LABEL_NOMBRE} "/>
					<p:inputText id="itNombre" value="#{tipoIdentificacionBean.tipoIdentificacion.nvNombre}" widgetVar="tipo"/>
					<p:tooltip for="toItNombre"
						value="Campo para ingresar el nombre de tipo de identificación"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItNombre" for="itNombre"/>
					
				</p:panelGrid>
			</p:fieldset>
			
			<p:dialog showEffect="fade" hideEffect="fade" widgetVar="tipoIdentificacion" closeOnEscape="true" modal="true" appendTo="@(body)">
				<p:fieldset legend="Formulario datos tipo identificación" toggleable="true" toggleSpeed="500">
								
					<p:dataTable value="#{tipoIdentificacionBean.listaTiposIdentificacion2}" var="tipoIdentificacion" 
					id="idTablaTiposIdentificacion" emptyMessage="No existen tipos de identificacion para mostrar">
					
						<p:column headerText="Código" selectRow="false">
							<h:outputText value="#{tipoIdentificacion.inCodigo}" />
						</p:column>
						
						<p:column headerText="Nombre">
							<h:outputText value="#{tipoIdentificacion.nvNombre}" />
						</p:column>
						
						<p:column headerText="Fecha eliminación" visible="false">
							<h:outputText value="#{tipoIdentificacion.dtFechaEliminacion}" />
						</p:column>
						
					</p:dataTable>
				</p:fieldset>
			</p:dialog>
				
		</h:form>
	</ui:define>
</ui:composition>

</html>