<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/paginas/plantilla/plantilla.xhtml">
	<ui:define name="tituloPagina">
		<h:outputText value="!!!!Gestión de Usuario!!!!" />
	</ui:define>
	<ui:define name="cuerpo">
	<h:body>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
		
		<style type="text/css">
			@import "#{request.contextPath}/imagenes/css/estilo.css";
		</style>
	</h:body>
		<h:form id="form">
			<p:messages id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />
				
				<p:toolbar>
					<f:facet name="right">
						<p:commandButton value="Limpiar" id="cbLimpiar"  action="#{usuarioBean.limpiar()}" update="idLimpiarCampos"/>
						<p:commandButton value="Crear" id="cbCrear" action="#{usuarioBean.crear()}" update="idForm:idTablaUsuario" style="margin-top:5px">
						<p:confirm header="Confirmation" message="Estás seguro de crear?" icon="ui-icon-alert"/>
						<p:tooltip id="toItCrear" for="cbCrear"
							value="Botón utilizado para registrar la nueva información ingresada el formulario"
							showEffect="clip" hideEffect="explode" />
						</p:commandButton>
						<p:commandButton value="Actualizar" id="cbActualizar" action="#{usuarioBean.actualizar()}" update="idForm:idTablaUsuario" oncomplete="PF('usuario').show()" style="margin-top:5px" />
						<p:commandButton value="Inhabilitar" id="cbInhabilitar" oncomplete="PF('inhabilitarUsuario').show()"/>
						<p:commandButton value="Consultar" id="cbConsultar" action="#{usuarioBean.consultar()}" update="idForm:idTablaUsuario" oncomplete="PF('usuario').show()" style="margin-top:5px"/>
					
					</f:facet>
				</p:toolbar>
				<p:panelGrid columns="2" id="idLimpiarCampos">
				<p:panelGrid columns="2">
					

					<h:outputLabel for="itCodigo" value=""/>
					<p:inputText id="itCodigo" type="hidden" value="#{usuarioBean.usuario.inCodigo}"/>
					<p:tooltip for="toItCodigo"
						value="Campo para ingresar el código de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCodigo" for="itCodigo"/>
					
					<h:outputLabel for="itCodigoPerfil" value="#{mensajes.LABEL_PERFIL}" />
					<p:selectOneMenu id="itCodigoPerfil" value="#{usuarioBean.usuario.segPerfil.inCodigo}" disabled="false" style= "width: 200px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar un perfil" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{perfilBean.listaPerfil}" var="perfil" itemLabel="#{perfil.nvNombre}" itemValue="#{perfil.inCodigo}" />
					</p:selectOneMenu>
					
					<h:outputLabel for="itCodigoTipoIdentificacion" value="#{mensajes.LABEL_TIPO_IDENTIFICACION}" />
					<p:selectOneMenu id="itCodigoTipoIdentificacion" value="#{usuarioBean.usuario.segTipoIdentificacion.inCodigo}" disabled="false" style= "width: 230px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
						<f:selectItem itemLabel="Seleccionar un Tipo de Identificación" itemValue="0" noSelectionOption="false"/>
						<f:selectItems value="#{tipoIdentificacionBean.listaTiposIdentificacion}" var="tipoId" itemLabel="#{tipoId.nvNombre}" itemValue="#{tipoId.inCodigo}" />
					</p:selectOneMenu>
										
					<h:outputLabel for="itNumeroIdentificacion" value="#{mensajes.LABEL_NUMERO_IDENTIFICACION}"/>
					<p:inputText id="itNumeroIdentificacion" value="#{usuarioBean.usuario.nvNumeroIdentificacion}"/>
					<p:tooltip for="itNumeroIdentificacion"
						value="Campo para ingresar el Número de Identificación de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItNumeroIdentificacion" for="itNumeroIdentificacion"/>
					
					<h:outputLabel for="itCodigoGenero" value="#{mensajes.LABEL_GENERO}" />
					<p:selectOneRadio id="itCodigoGenero" value="#{usuarioBean.usuario.tblGenero.inCodigo}" layout="grid" columns="2">
				        <f:selectItems value="#{generoBean.listaGenero}" var="c" itemLabel="#{c.nvNombre}" itemValue="#{c.inCodigo}" noSelectionOption="false"/>
				    </p:selectOneRadio>
					
					<h:outputLabel for="itPrimerNombre" value="#{mensajes.LABEL_PRIMER_NOMBRE} "/>
					<p:inputText id="itPrimerNombre" value="#{usuarioBean.usuario.nvPrimerNombre}" 
					validatorMessage="Primer nombre inválido. No debe contener caracteres especiales o números">
						<f:validateRegex pattern="^([A-Za-záéíóúÁÉÍÓÚ \s]{1,50}$)*" />
					</p:inputText>
					<p:tooltip for="itPrimerNombre"
						value="Campo para ingresar el primer nombre de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItPrimerNombre" for="itPrimerNombre"/>
				
					<h:outputLabel for="itSegundoNombre" value="#{mensajes.LABEL_SEGUNDO_NOMBRE} "/>
					<p:inputText id="itSegundoNombre" value="#{usuarioBean.usuario.nvSegundoNombre}"
					validatorMessage="Segundo nombre inválido. No debe contener caracteres especiales o números">
						<f:validateRegex pattern="^([A-Za-záéíóúÁÉÍÓÚ \s]{1,50}$)*" />
					</p:inputText>
					<p:tooltip for="itSegundoNombre"
						value="Campo para ingresar el segundo nombre de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItSegundoNombre" for="itSegundoNombre"/>
					
					<h:outputLabel for="itPrimerApellido" value="#{mensajes.LABEL_PRIMER_APELLIDO}"/>
					<p:inputText id="itPrimerApellido" value="#{usuarioBean.usuario.nvPrimerApellido}"
					validatorMessage="Primer apellido, debe ingresar el dato o sus datos son inválidos. (No debe contener caracteres especiales o números)">
						<f:validateRegex pattern="^([A-Za-záéíóúÁÉÍÓÚ \s]{1,50}$)*" />
					</p:inputText>
					<p:tooltip for="itPrimerApellido"
						value="Campo para ingresar el primer apellido de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItPrimerApellido" for="itPrimerApellido"/>
					
					
				</p:panelGrid>
				<p:panelGrid columns="2">	
					
					<h:outputLabel for="itSegundoApellido" value="#{mensajes.LABEL_SEGUNDO_APELLIDO}"/>
					<p:inputText id="itSegundoApellido" value="#{usuarioBean.usuario.nvSegundoApellido}"
					validatorMessage="Primer apellido, inválido no debe contener caracteres especiales o números">
						<f:validateRegex pattern="^([A-Za-záéíóúÁÉÍÓÚ \s]{1,50}$)*" />
					</p:inputText>
					<p:tooltip for="itSegundoApellido"
						value="Campo para ingresar el segundo apellido de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItSegundoApellido" for="itSegundoApellido"/>
				
					<h:outputLabel for="itCorreo" value="Correo Electrónico del usuario: "/>
					<p:inputText id="itCorreo" requiredMessage="Por favor ingrese su correo electrónico." 
					validatorMessage="Correo inválido debe ser del tipo example@example.com" 
					value="#{usuarioBean.usuario.nvCorreoElectronico}">
					<f:validateRegex
						pattern="^([_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$)*" />
					</p:inputText>

					<p:tooltip for="itCorreo"
						value="Campo para ingresar el correo electrónico de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCorreo" for="itCorreo"/>
					
					<h:outputLabel for="itCelular" value="#{mensajes.LABEL_CELULAR}"/>
					<p:inputText id="itCelular" value="#{usuarioBean.usuario.nvTelefonoMovil}"
					validatorMessage="Celular inválido no debe contener caracteres especiales o letras">
						<f:validateRegex pattern="^([3]+[0-9]{9}$)*" />
					</p:inputText>
					<p:tooltip for="itCelular"
						value="Campo para ingresar el Teléfono móvil de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItCelular" for="itCelular"/>
					
					<h:outputLabel for="itTelefonoFijo" value="#{mensajes.LABEL_FIJO}"/>
					<p:inputText id="itTelefonoFijo" value="#{usuarioBean.usuario.nvTelefonoFijo}"
					validatorMessage="Teléfono no debe contener caracteres especiales o letras">
						<!-- <f:validateRegex pattern="^([1-9]+[0-9]{6}$)*" /> -->
					</p:inputText>
					<p:tooltip for="itTelefonoFijo"
						value="Campo para ingresar el Teléfono Fijo de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItTelefonoFijo" for="itTelefonoFijo"/>
					
					<h:outputLabel for="itNombreUsuario" value="#{mensajes.LABEL_NOMBRE_USUARIO}"/>
					<p:inputText id="itNombreUsuario" value="#{usuarioBean.usuario.nvNombreUsuario}"/>
					<p:tooltip for="itNombreUsuario"
						value="Campo para ingresar el Nombre de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItNombreUsuario" for="itNombreUsuario"/>
					
					<h:outputLabel for="itClave" value="#{mensajes.CLAVE}"/>
					<p:password id="itClave" value="#{usuarioBean.usuario.nvClave}">
					</p:password>
					<p:tooltip for="itClave"
						value="Campo para ingresar la clave de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItClave" for="itClave"/>
					
					</p:panelGrid>
				</p:panelGrid>
		</h:form>	
		<p:dialog showEffect="fade" hideEffect="explode" widgetVar="inhabilitarUsuario" closeOnEscape="true" modal="true" appendTo="@(body)" responsive="true" height="100%"> <!-- width="1340" height="500" >		 -->
			<h:form>
				
						<br/>
						
						<p:toolbar>
							<f:facet name="right">
								<p:commandButton value="Inhabilitar" id="cbInhabilitar" action="#{usuarioBean.inhabilitar()}" update="idForm2:idTablaUsuario2" oncomplete="PF('inhabilitarUsuario').show()">
									<p:confirm>
										<p:confirm header="Confirmación" message="Estás seguro de qué quiere inhabilitar el usuario?" icon="ui-icon-alert"/>
									</p:confirm>
								</p:commandButton>
							
							</f:facet>
						</p:toolbar>
						
						<br/>
						
					    <h:outputLabel for="itCodigo" value="Código: "/>
						<p:inputText id="itCodigo" type="" value="#{usuarioBean.usuario.inCodigo}"/>
						<p:tooltip for="toItCodigo"
							value="Campo para ingresar el código de usuario"
							hideEffect="explode" showEffect="clip"/>
						<p:message id="toItCodigo" for="itCodigo"/>
						
						<br/>
				</h:form>
				
				
				
				<h:form id="idForm2">
				<p:dataTable value="#{usuarioBean.listaUsuario2}" var="usuario" editable="true" sortMode="multiple"
					id="idTablaUsuario2" emptyMessage="No existen usuario inhabilitados para mostrar" rows="5" paginator="true"  scrollable="true" scrollHeight="360"
                        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
                        rowsPerPageTemplate="5,10,15" >
                        
						<f:facet name="header">
				        Lista de usuarios
					 
					        <p:commandButton id="toggler" type="button" value="Columnas" style="float:right" icon="ui-icon-calculator" />
					        <p:columnToggler datasource="idTablaUsuario2" trigger="toggler" />
					    </f:facet>
						
						<f:facet name="{Exporters}">
				            <h:commandLink>
				                <p:graphicImage value="/imagenes/excel.ico" width="24"/>
				                <p:dataExporter type="xls" target="idTablaUsuario2" fileName="usuarios" pageOnly="true"/>
				            </h:commandLink>
				 
				            <h:commandLink>
				                <p:graphicImage value="/imagenes/pdf.png" width="24"/>
				                <p:dataExporter type="pdf" target="idTablaUsuario2" fileName="usuarios" encoding="utf8"/>
				            </h:commandLink>
				        </f:facet>
				        
				        <!-- ******EDITORES ROW EVENTS****** -->
				        
				        
						<p:ajax event="rowEdit" listener="#{usuarioBean.onRowEdit}"  onstart="">
							<p:confirm header="Confirmación" message="¿Estás seguro de que deseas actualizar está fila?" icon="ui-icon-alert"/>
						</p:ajax>
		     			<p:ajax event="rowEditCancel" listener="#{usuarioBean.onRowCancel}" />
		     		
							<p:column headerText="Código" sortBy="#{usuario.inCodigo}" width="80" filterBy="">
								<p:cellEditor>
					               <f:facet name="output"><h:outputText value="#{usuario.inCodigo}" /></f:facet>
					               <f:facet name="input"><p:inputText value="#{usuario.inCodigo}" style="width:100%"/></f:facet>
					           </p:cellEditor>
							</p:column>
							
							<p:column headerText="Perfil">
								<h:outputText value="#{usuario.segPerfil.nvNombre}" />
				           </p:column>
							
							<p:column headerText="Tipo Identificación">
								<p:cellEditor>
					               <f:facet name="output"><h:outputText value="#{usuario.segTipoIdentificacion.nvNombre}" /></f:facet>
					               <f:facet name="input">
										<p:selectOneMenu id="itCodigoTipoIdentificacion" value="#{usuario.segTipoIdentificacion.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
											
											<f:selectItems value="#{tipoIdentificacionBean.listaTiposIdentificacion}" var="tipoId" itemLabel="#{tipoId.nvNombre}" itemValue="#{tipoId.inCodigo}" />
										</p:selectOneMenu>
					               </f:facet>
					           </p:cellEditor>
				           </p:column>
							
							<p:column headerText="Número Identificación" sortBy="#{usuario.nvNumeroIdentificacion}" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvNumeroIdentificacion}" /></f:facet>
							        <f:facet name="input"><p:inputText id="idNvNombreUsuario" value="#{usuario.nvNumeroIdentificacion}" style="width:100%"/></f:facet>
						        </p:cellEditor>
							</p:column>
							
							<p:column headerText="Primer Nombre" sortBy="#{usuario.nvPrimerNombre}" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvPrimerNombre}" /></f:facet>
							        <f:facet name="input"><p:inputText value="#{usuario.nvPrimerNombre}" style="width:100%"
								        validatorMessage="Primer nombre inválido. No debe contener caracteres especiales o números">
										<f:validateRegex pattern="^([A-Za-záéíóúÁÉÍÓÚ \s]{1,50}$)+" />
										</p:inputText>
									</f:facet>
						        </p:cellEditor>
							</p:column>
							
							<p:column headerText="Segundo Nombre" sortBy="#{usuario.nvSegundoNombre}" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvSegundoNombre}" /></f:facet>
							        <f:facet name="input">
							        	<p:inputText value="#{usuario.nvSegundoNombre}" style="width:100%"
								        	validatorMessage="Segundo nombre inválido. No debe contener caracteres especiales o números">
											<f:validateRegex pattern="^([A-Za-záéíóúÁÉÍÓÚ \s]{1,50}$)*" />
										</p:inputText>
							        </f:facet>
						        </p:cellEditor>
							</p:column>
							
							<p:column headerText="Primer Apellido" sortBy="#{usuario.nvPrimerApellido}" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvPrimerApellido}" /></f:facet>
							        <f:facet name="input">
							        	<p:inputText value="#{usuario.nvPrimerApellido}" style="width:100%"
							        		validatorMessage="Primer apellido inválido. No debe contener caracteres especiales o números">
											<f:validateRegex pattern="^([A-Za-záéíóúÁÉÍÓÚ \s]{1,50}$)*" />
										</p:inputText>
							        </f:facet>
						        </p:cellEditor>
							</p:column>
							
							<p:column headerText="Segundo Apellido" sortBy="#{usuario.nvSegundoApellido}" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvSegundoApellido}" /></f:facet>
							        <f:facet name="input">
							        	<p:inputText value="#{usuario.nvSegundoApellido}" style="width:100%"
							        		validatorMessage="Segundo apellido inválido. No debe contener caracteres especiales o números">
											<f:validateRegex pattern="^([A-Za-záéíóúÁÉÍÓÚ \s]{1,50}$)*" />
										</p:inputText>
									</f:facet>
						        </p:cellEditor>
							</p:column>
							
							<p:column headerText="Nombre Usuario" sortBy="#{usuario.nvNombreUsuario}" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvNombreUsuario}" /></f:facet>
							        <f:facet name="input"><p:inputText value="#{usuario.nvNombreUsuario}" style="width:100%"/></f:facet>
						        </p:cellEditor>
							</p:column>
							
							<p:column headerText="Correo" sortBy="#{usuario.nvCorreoElectronico}" width="200" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvCorreoElectronico}" /></f:facet>
							        <f:facet name="input"><p:inputText value="#{usuario.nvCorreoElectronico}" style="width:100%"/></f:facet>
						        </p:cellEditor>
							</p:column>
													
							<p:column headerText="Fecha eliminación">
								<h:outputText value="#{usuario.dtFechaEliminacion}" />
							</p:column>
														
		    	</p:dataTable>
			</h:form>
		</p:dialog>
		
		
			<p:dialog showEffect="fade" hideEffect="explode" widgetVar="usuario" closeOnEscape="true" modal="true" appendTo="@(body)" responsive="true"> <!-- width="1340" height="500" >		 -->
				<h:form id="idForm">
				<p:dataTable value="#{usuarioBean.listaUsuario2}" var="usuario" editable="true" sortMode="multiple"
					id="idTablaUsuario" emptyMessage="No existen usuario inhabilitados para mostrar" rows="5" paginator="true" scrollable="true" scrollHeight="360"
                        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
                        rowsPerPageTemplate="5,10,15" >
                        
						<f:facet name="header">
				        Lista de usuarios
					 
					        <p:commandButton id="toggler" type="button" value="Columnas" style="float:right" icon="ui-icon-calculator" />
					        <p:columnToggler datasource="idTablaUsuario" trigger="toggler" />
					    </f:facet>
						
						<f:facet name="{Exporters}">
				            <h:commandLink>
				                <p:graphicImage value="/imagenes/excel.ico" width="24"/>
				                <p:dataExporter type="xls" target="idTablaUsuario" fileName="usuarios" pageOnly="true"/>
				            </h:commandLink>
				 
				            <h:commandLink>
				                <p:graphicImage value="/imagenes/pdf.png" width="24"/>
				                <p:dataExporter type="pdf" target="idTablaUsuario" fileName="usuarios" encoding="utf8"/>
				            </h:commandLink>
				        </f:facet>
				        
				        <!-- ******EDITORES ROW EVENTS****** -->
				        
				        
						<p:ajax event="rowEdit" listener="#{usuarioBean.onRowEdit}"  onstart="">
							<p:confirm header="Confirmación" message="¿Estás seguro de que deseas actualizar está fila?" icon="ui-icon-alert"/>
						</p:ajax>
		     			<p:ajax event="rowEditCancel" listener="#{usuarioBean.onRowCancel}" />
		     		
							<p:column headerText="Código" sortBy="#{usuario.inCodigo}" width="80" filterBy="">
								<p:cellEditor>
					               <f:facet name="output"><h:outputText value="#{usuario.inCodigo}" /></f:facet>
					               <f:facet name="input"><p:inputText value="#{usuario.inCodigo}" style="width:100%"/></f:facet>
					           </p:cellEditor>
							</p:column>
							
							<p:column headerText="Perfil">
								<h:outputText value="#{usuario.segPerfil.nvNombre}" />
				           </p:column>
							
							<p:column headerText="Tipo Identificación">
								<p:cellEditor>
					               <f:facet name="output"><h:outputText value="#{usuario.segTipoIdentificacion.nvNombre}" /></f:facet>
					               <f:facet name="input">
										<p:selectOneMenu id="itCodigoTipoIdentificacion" value="#{usuario.segTipoIdentificacion.inCodigo}" disabled="false" style= "width: 300px" panelStyle="width: 300px" filter="true" filterMatchMode="startsWith">
											
											<f:selectItems value="#{tipoIdentificacionBean.listaTiposIdentificacion}" var="tipoId" itemLabel="#{tipoId.nvNombre}" itemValue="#{tipoId.inCodigo}" />
										</p:selectOneMenu>
					               </f:facet>
					           </p:cellEditor>
				           </p:column>
							
							<p:column headerText="Número Identificación" sortBy="#{usuario.nvNumeroIdentificacion}" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvNumeroIdentificacion}" /></f:facet>
							        <f:facet name="input"><p:inputText id="idNvNombreUsuario" value="#{usuario.nvNumeroIdentificacion}" style="width:100%"/></f:facet>
						        </p:cellEditor>
							</p:column>
							
							<p:column headerText="Primer Nombre" sortBy="#{usuario.nvPrimerNombre}" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvPrimerNombre}" /></f:facet>
							        <f:facet name="input"><p:inputText value="#{usuario.nvPrimerNombre}" style="width:100%"
								        validatorMessage="Primer nombre inválido. No debe contener caracteres especiales o números">
										<f:validateRegex pattern="^([A-Za-záéíóúÁÉÍÓÚ \s]{1,50}$)+" />
										</p:inputText>
									</f:facet>
						        </p:cellEditor>
							</p:column>
							
							<p:column headerText="Segundo Nombre" sortBy="#{usuario.nvSegundoNombre}" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvSegundoNombre}" /></f:facet>
							        <f:facet name="input">
							        	<p:inputText value="#{usuario.nvSegundoNombre}" style="width:100%"
								        	validatorMessage="Segundo nombre inválido. No debe contener caracteres especiales o números">
											<f:validateRegex pattern="^([A-Za-záéíóúÁÉÍÓÚ \s]{1,50}$)*" />
										</p:inputText>
							        </f:facet>
						        </p:cellEditor>
							</p:column>
							
							<p:column headerText="Primer Apellido" sortBy="#{usuario.nvPrimerApellido}" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvPrimerApellido}" /></f:facet>
							        <f:facet name="input">
							        	<p:inputText value="#{usuario.nvPrimerApellido}" style="width:100%"
							        		validatorMessage="Primer apellido inválido. No debe contener caracteres especiales o números">
											<f:validateRegex pattern="^([A-Za-záéíóúÁÉÍÓÚ \s]{1,50}$)*" />
										</p:inputText>
							        </f:facet>
						        </p:cellEditor>
							</p:column>
							
							<p:column headerText="Segundo Apellido" sortBy="#{usuario.nvSegundoApellido}" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvSegundoApellido}" /></f:facet>
							        <f:facet name="input">
							        	<p:inputText value="#{usuario.nvSegundoApellido}" style="width:100%"
							        		validatorMessage="Segundo apellido inválido. No debe contener caracteres especiales o números">
											<f:validateRegex pattern="^([A-Za-záéíóúÁÉÍÓÚ \s]{1,50}$)*" />
										</p:inputText>
									</f:facet>
						        </p:cellEditor>
							</p:column>
							
							<p:column headerText="Nombre Usuario" sortBy="#{usuario.nvNombreUsuario}" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvNombreUsuario}" /></f:facet>
							        <f:facet name="input"><p:inputText value="#{usuario.nvNombreUsuario}" style="width:100%"/></f:facet>
						        </p:cellEditor>
							</p:column>
							
							<p:column headerText="Correo" sortBy="#{usuario.nvCorreoElectronico}" width="200" filterBy="">
								<p:cellEditor>
							        <f:facet name="output"><h:outputText value="#{usuario.nvCorreoElectronico}" /></f:facet>
							        <f:facet name="input"><p:inputText value="#{usuario.nvCorreoElectronico}" style="width:100%"/></f:facet>
						        </p:cellEditor>
							</p:column>
													
							<p:column headerText="Fecha eliminación">
								<h:outputText value="#{usuario.dtFechaEliminacion}" />
							</p:column>
							
							<p:column headerText="Editor" style="width:32px" styleClass="ui-editable-column-options" exportable="false" width="30" rendered="#{usuarioBean.renderIframeColumn}">
					        	<p:rowEditor id="editar" />
					           		<p:tooltip id="toItEditar" for="editar"
									value="Click para editar o inhabilitar"
									showEffect="clip" hideEffect="explode" />
								
					    	</p:column>
					   <!--  <p:column>	
					    	<p:commandButton value="Show column" update="idForm:idTablaUsuario">
							  <f:setPropertyActionListener value="true" target="#{usuarioBean.renderIframeColumn}"/>
							</p:commandButton>
							<p:commandButton value="Hide column" update="idForm:idTablaUsuario">
							  <f:setPropertyActionListener value="false" target="#{usuarioBean.renderIframeColumn}"/>
							</p:commandButton>
						</p:column> -->
						
						
												    	
		    		</p:dataTable>
		    	</h:form>
		    	
		    	<p:confirmDialog global="true" message="Está seguro de inhabilitar?" widgetVar="confirm" closeOnEscape="true" appendToBody="true" closable="true">
			    	<p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
			        <p:commandButton value="No" type="button" onclick="myDialog.hide()" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
				</p:confirmDialog>
			</p:dialog>
	</ui:define>
</ui:composition>

</html>
