<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 


<h:head>
		<title>..::Bienvenido al Login ::..</title>
		
		<style type="text/css">
			@import "#{request.contextPath}/imagenes/css/estilo.css";
		</style>
</h:head> 
<h:body style="text-align:center"> 
	
	<p:growl id="growl" sticky="true" showDetail="true" life="2000" />
	<center>
	<h:form id="formularioLogin">            
	    	 
	    <p:panel id="login" header="Login" style="width:400px">
	    	
	    	<p:focus context="login"/>
	        <h:panelGrid columns="2" cellpadding="5">
	        	<p:spacer width="100"></p:spacer><h:graphicImage value="/imagenes/Asysas.png" align="center" height="90"/>
	            <h:outputLabel for="itNombreUsuario" value="Usuario" />
		            <p:inputText id="itNombreUsuario"  autocomplete="off" maxlength="50"
		            validatorMessage="Nombre de usuario inválido no debe contener caracteres especiales" 
		            value="#{usuarioBean.usuario.nvNombreUsuario}" required="true">
		            	<f:validateRegex pattern="^(?=.{1,50}$)(?![_.-])(?!.*[_.-]{2})[a-zA-Z0-9_-]+([^._-])$" />		            
		            </p:inputText>
	            <p:tooltip for="toItNombreUsuario"
						value="Campo para ingresar el nombre de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItNombreUsuario" for="itNombreUsuario"/>
	 
	            <h:outputLabel for="itClave" value="Clave" />
	            <p:password id="itClave" value="#{usuarioBean.usuario.nvClave}" required="true" autocomplete="off" maxlength="100" feedback="true" promptLabel="Por favor, ingrese la contraseña" weakLabel="Débil"
                    goodLabel="Buena" strongLabel="Segura" validatorMessage="Clave inválida no debe contener caracteres especiales diferentes a (-*+.@#$=_%), debe contener al menos un
					número, una letra mayúscula, una letra minúscula, un caracter especial y tener una longitud de 8 o más caracteres">
						<!-- <f:validateRegex pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[-*+.@#$=_%]).{8,100})" /> -->
				</p:password>
	            <p:tooltip for="toItClave"
						value="Campo para ingresar la clave de usuario"
						hideEffect="explode" showEffect="clip"/>
					<p:message id="toItClave" for="itClave"/>
	 
	           <f:facet name="footer">
	             <center>   
	             	<p:commandButton value="Login" action="#{usuarioBean.login()}" update="formularioLogin">
	             	</p:commandButton>
	                <br/>
	                <br/>
	                <h:outputLink value="http://localhost:8080/GestorGruposAsys/faces/paginas/publico/recuperarClave/recuperarPass.xhtml">
	           			Recuperar clave
					</h:outputLink>
	                
	             </center>
	           </f:facet>
	           
	           
	    	</h:panelGrid>
		</p:panel>
	 	
   
	</h:form>
	</center>
</h:body> 
</html>
