<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<title>..::: Recuperar Contraseña :::..</title>
		
		<style type="text/css">
			@import "#{request.contextPath}/imagenes/css/estilo.css";
		</style>
		
		<script> 
		window.onload=function(){ 
		    document.getElementById('pp').appendChild(document.createTextNode(window.name)); 
			document.getElementById('principall:itCodigoUsuarioo').value=document.getElementById('pp').textContent
		} 
		</script>  
	
	</h:head>
 
<body>

<div id="pp" style='display:none;'></div> 

<h:form id="principall">
	<p:growl id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />

	<p:toolbar>
		<f:facet name="right">

			<p:commandButton value="Cambiar Contraseña"  id="cbCambiar" action="#{usuarioBean.actualizar2()}" update="pgFormularioDatoss"  >
				<p:tooltip for="cbCambiar" value="Cambiar Contraseña" hideEffect="explode" />				
			</p:commandButton>

		</f:facet>
	</p:toolbar>
	<br/>
	<p:fieldset legend="Formulario para el cambio de contraseña" >
		<p:panelGrid styleClass="panelGridCenter" columns="2" id="pgFormularioDatoss">
		
						<p:outputLabel for="itCodigoUsuarioo" />
						<p:inputText type="hidden" id="itCodigoUsuarioo" value="#{usuarioBean.usuario.nvNombreUsuario}"  />
	      	
						<h:outputLabel for="itClave" value="#{mensajes.CLAVE}" />
						<p:password   id="itClave" feedback="false"  value="#{usuarioBean.usuario.nvClave}" required="true" requiredMessage="El campo Clave debe de tener datos" match="itVerificarClave" 
						validatorMessage="Clave inválida no debe contener caracteres especiales diferentes a (-*+.@#$=_%), debe contener al menos un
						número, una letra mayúscula, una letra minúscula, un caracter especial y tener una longitud de 8 o más caracteres">
							<f:validateRegex pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[-*+.@#$=_%]).{8,100})" />
							<p:tooltip for="itClave" value="Campo para ingresar la Clave del Usuario" hideEffect="explode" />
						</p:password >	
						
						<h:outputLabel for="itVerificarClave" value="#{mensajes.REPETIR_CLAVE}" />
						<p:password   id="itVerificarClave" feedback="false"  value="#{usuarioBean.usuario.nvClave}" >
							<p:tooltip for="itVerificarClave" value="Campo para Verificar la Clave del Usuario" hideEffect="explode" />
						</p:password >	    	
	
		</p:panelGrid>
	</p:fieldset>
	<br />
	<div id="piePagina">
		<ui:include src="/paginas/piePagina/piePagina.xhtml" />
	</div>

</h:form>
<form> 



</form> 
<script src="#{request.contextPath}/script/NoBack.js"></script>
</body>
</html>