<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
	<title>..::: Recuperar Contraseña :::..</title>

	<style type="text/css">
		@import "#{request.contextPath}/imagenes/css/estilo.css";
	</style>
	
	<script> 
		function enviar(){ 
			
		var a = document.getElementById('principall:itCodigoUsuario').value;
		var b = document.getElementById('principall:itCodigoPregunta').value;
		var c = document.getElementById('principall:itrespuesta').value;
		
		if ((a != "") &amp;&amp; (b != "") &amp;&amp; (c != "")){
		 valor = document.getElementById('principall:itCodigoUsuario').value;
		    window.name=valor; 
		    window.location='actualizarPass.xhtml'; 
			}
		} 
	</script> 
</h:head>
 
<body>
<h:form id="principall">
	<p:growl id="capaMensajes" showDetail="true" autoUpdate="true" closable="true" />

	<p:toolbar>
		<f:facet name="right">

			<p:commandButton value="Validar Datos"  id="cbRecuperar" action="#{preguntaUsuarioBean.recuperar()}" update="pgFormularioDatos" oncomplete="enviar()" >
				<p:tooltip for="cbRecuperar" value="Validar Datos" hideEffect="explode" />
			</p:commandButton>

			<p:commandButton id="cbInicio" value="Pagina de Inicio (ASYSAS)" action="/paginas/publico/login.xhtml?faces-redirect=true" process="@this">
				<p:tooltip for="cbInicio" value="Pagina de Inicio" hideEffect="explode" />
			</p:commandButton>
           			
		</f:facet>
	</p:toolbar>
<br/>
<p:fieldset legend="Formulario para la validación de datos" >
	<p:panelGrid styleClass="panelGridCenter" columns="2" id="pgFormularioDatos">

		<h:outputLabel for="itCodigo" value="" />
		<p:inputText type="hidden" id="itCodigo"
			value="#{preguntaUsuarioBean.preguntaUsuario.inCodigo}">
		</p:inputText>		

		<p:outputLabel for="itCodigoUsuario" value="#{mensajes.LABEL_NOMBRE_USUARIO}" />
		<p:inputText id="itCodigoUsuario" value="#{preguntaUsuarioBean.preguntaUsuario.segUsuario.nvNombreUsuario}" required="true" label="Nombre de Usuario" />
      	
		<p:outputLabel for="itCodigoPregunta" value="#{mensajes.LABEL_PREGUNTA}" />
       	<p:selectOneMenu id="itCodigoPregunta" value="#{preguntaUsuarioBean.preguntaUsuario.segPregunta.inCodigo}"  filter="true" filterMatchMode="contains" effect="fold" required="true">
	       	<f:selectItem itemLabel="Seleccionar Pregunta" itemValue="0" noSelectionOption="true"/>
	        <f:selectItems value="#{preguntaBean.listaPregunta}" var="perfil"  itemLabel="#{perfil.nvDescripcion}" itemValue="#{perfil.inCodigo}" />
       	</p:selectOneMenu>   
       			
       	<h:outputLabel for="itrespuesta" value="#{mensajes.LABEL_RESPUESTA}" />
		<p:inputTextarea style="width:550px" id="itrespuesta" value="#{preguntaUsuarioBean.preguntaUsuario.nvRespuesta}" required="true">
			<f:validateRegex pattern="^([A-Za-z1-9 \s]{1,200}$)+" />
			<p:tooltip for="itrespuesta" value="Campo para ingresar la respuesta de la Pregunta" hideEffect="explode" />
		</p:inputTextarea>	    	

	</p:panelGrid>
	</p:fieldset>
	<br />
		<div id="piePagina">
			<ui:include src="/paginas/piePagina/piePagina.xhtml" />
		</div>

</h:form>
<form> 



</form> 
<script src="#{request.contextPath}/script/NoBack.js"></script>
</body>
</html>